[2016-06-20 23:17] kruny1001 opened #2 "Allow external callbacks"
I am trying to apply datacamp-light into our website. It works great. Is there any way to get a callback after success problem?

[2016-06-24 10:04] KaiserW commented on #2
I'm afraid not, since datacamp-light is an IFrame tool.

[2016-07-20 07:45] EvertEt commented on #2
I will look into it to see if it's possible. Have you got any structure in mind of how this would work?

[2016-07-26 15:36] EvertEt opened #9 "Inline plots are too big after expanding"
Plot -> Expand -> Plot again, the last plot will be 450²

[2016-07-26 15:45] ddmkr commented on #9
@EvertEt Could you just set the DC_RENDER_DIMS (or something like that) back to the original dimensions?

[2016-07-26 15:47] EvertEt commented on #9
Yes that would be the 'hacky' solution. I suppose I can only safely set them back after the plot has returned, but there might have been other plot calls in the mean time so not modifying them at all would be cleaner.  (Also now you can't really be sure if you are receiving a normal resized version or the expanded version)

[2016-07-29 16:12] #9 closed

[2016-07-29 16:13] EvertEt opened #15 "Encoded values are not hidden before load"

[2016-08-01 07:49] filipsch opened #16 "Tutorial vignette renders strangely"
If you go to https://www.github.com/datacamp/tutorial, pull the package, open it up in RStudio, and then call

[code]

The vignette will be built in the `inst/doc` folder. If you open up the HTML that has been built, you get the following:

[Script selected](https://www.dropbox.com/s/bvqdvk00rbui8op/Screenshot%202016-08-01%2009.48.31.png?dl=0)
[Console selected](https://www.dropbox.com/s/cqawdou6b

[2016-08-01 09:06] EvertEt commented on #16
@filipsch Could you check if the issue has been resolved?

[2016-08-01 09:16] filipsch commented on #16
Perfect! Thanks bro

[2016-08-01 09:16] #16 closed

[2016-08-05 14:40] iankloo opened #17 "R Console Label Bug"
The R Console label has moved into a position where it is blocking the executed code (see below).

![issue](https://cloud.githubusercontent.com/assets/13052891/17440090/14a12994-5af9-11e6-84ee-20238b4314d3.PNG)

Love the library!  Very helpful for making custom tutorials without having to send people to another website.

[2016-08-05 14:42] EvertEt commented on #17
Could you link me the page where this is happening? Is it also happening on the [example page](https://cdn.datacamp.com/dcl/standalone-example.html)? Browser & OS?
Thank you!

[2016-08-05 14:58] iankloo commented on #17
Hm, no issue with the example page.  Issue is happening on documents created through R Markdown using the tutorial package.  I am working on finalizing a project that I plan to post in the next week or so - can link to that then.

Thanks!

[2016-08-05 15:04] EvertEt commented on #17
Great! You can always send me the html so I can check which conflicting CSS messes with DCL. Otherwise I will check once your project is released.
Thanks for reporting!

[2016-08-11 16:31] ddmkr opened #19 "Make the powered by DataCamp a bit smaller"
It's a bit invasive at the moment.

[2016-08-11 17:11] EvertEt commented on #19
Any size suggestions?

[2016-08-11 17:22] #15 closed

[2016-08-22 12:01] ludov04 opened #21 "Expose a function allowing to rerender exercices added after DOMContentLoaded"
There is currently no way to rerender exercices that has been added in the DOM after the DOMContentLoaded event.

We could expose an function that would initialize newly added exercices

[2016-08-22 15:46] EvertEt commented on #21
I was indeed planning on exporting `initDataCampExercises` into `window`. Maybe also replace `dclLoaded` with a check of this exported function.
(It was planned for usage in the DCL builder.)

[2016-08-22 15:53] ludov04 commented on #21
I tried to worked around it by refiring the DOMContentLoaded event, this run `initDataCampExercises` but then the script tag is readded, and the browser try to reload angular and stuffs.
I think an exposed version of `initDataCampExercises ` but without the
[code]
would work

[2016-08-22 15:57] ludov04 commented on #19
@EvertEt On Rdoc I set the `font-size` to `15px`, looks ok:
![screen shot 2016-08-22 at 17 55 55](https://cloud.githubusercontent.com/assets/1741726/17861536/bccec4f0-6891-11e6-9a8b-1df916c22377.png)

[2016-08-23 06:31] EvertEt commented on #21
Indeed.
A PR would be welcome, or I can do this when I have more time if it's not urgent.

[2016-08-30 09:03] #21 closed

[2016-09-26 17:23] martijnsublime opened #25 "Stackoverflow Documentation - DC light"
We (Weston & me) tried to get DC light working in http://stackoverflow.com/documentation/r/topics but we could not get it to work because it seemed that they have limitations on HTML uses.

However, I remember that it was said that it could work so maybe we did something wrong. Could a double check be done if this actually worked and if yes let us know? Thanks.

[2016-09-26 18:06] EvertEt commented on #25
It could work on real questions but not yet in the documentation if I recall correctly.
Quick google turned up this: https://meta.stackoverflow.com/questions/328155/why-arent-stack-snippets-available-in-the-documentation-beta

I've posted some research about this in slack if I remember correctly. (maybe even the same link.)

[2016-10-19 10:32] suriyaJaay opened #26 "regarding libraries ?"
Could anyone tell me how many std libraries that datacamp-light has support so far?

[2016-10-19 10:38] filipsch commented on #26
@suriyaJaay currently, practically all R packages that are on CRAN and a vast amount of python packages are available. Some R packages can be outdated or missing.
If you want to use a particular package that's not available or not up to date, let us know and we can install it (DataCamp Light users cannot install packages themselves.)

[2016-10-19 10:38] #26 closed

[2016-10-19 10:46] suriyaJaay commented on #26
@filipsch thanks for your lighting response . well actually i just want implement it in my small blog that would help students to learn practically those who cannot afford to take courses from outside. so that want use datacamp, is it possible to load datacamp light with all packages ?

[2016-10-19 10:55] suriyaJaay opened #27 "regarding libraries ?"
@filipsch thanks for your lighting response . well actually i just want implement it in my small blog that would help students to learn practically those who cannot afford to take courses from outside. so that want use datacamp, is it possible to load datacamp light with all packages ?

i would like to use  all available libraries/packages in data camplight if its not possible, kindly suggest some

[2016-10-19 10:55] filipsch commented on #26
@suriyaJaay If you insert datacamp light in a blog of yours, automatically all packages that we have installed on our R servers and Python servers are available for you to use. Does this answer your question?

[2016-10-19 10:55] filipsch commented on #27
See #26

[2016-10-19 10:55] #27 closed

[2016-10-19 11:21] suriyaJaay opened #28 "issue"
DataCamp Light examples available on port 3003.
Error: ENOENT, stat 'C:\xxx\xxx\Desktop\cp\datacamp-light-master\example\undefined'
    at Error (native)

[2016-10-19 11:31] EvertEt commented on #28
Could you verify that the `example` folder has all the files from the master branch? (Starting with `example-`)

[2016-10-19 11:38] suriyaJaay commented on #28
yes it has. pls find the attachment . and also has've the following code in web.js

var examplePath = path.join(__dirname, '/example/');
var examples = fs.readdirSync(examplePath).filter(function (name) {
  return name.startsWith('example-')
});
![capture](https://cloud.githubusercontent.com/assets/19813670/19517412/a9035af2-961e-11e6-971b-53a3ebff9b64.PNG)

[2016-10-19 13:02] EvertEt commented on #28
Did you run `npm install` ? (Followed the 'Building' Section of the README)

[2016-10-20 06:01] suriyaJaay commented on #28
@EvertEt hi. did followed "building " section and installed once again . it shows like as bellow. also has changed  this **var DCL_URL = "https://cdn.datacamp.com/dcl/";**  to  var DCL_URL = "src/datacamp-light.js";
![dc](https://cloud.githubusercontent.com/assets/19813670/19547823/3a58a3c4-96b8-11e6-9fb4-3432876a46ce.PNG)

[2016-10-20 08:54] EvertEt commented on #28
You should probably change it to `http://localhost:3003/`.

[2016-10-20 09:14] suriyaJaay commented on #28
var port = process.env.PORT || 3003;
app.listen(port, function () {
  console.log('DataCamp Light examples available on port ' + port + '.');
});

the port has already set to 3003. now just try to change it to 3001 . but what happens is shows only UI with loading . in chrome console it show same not found like below

Failed to load resource: the server responded with a status of 404 (Not Found)
ht

[2016-10-20 09:16] EvertEt commented on #28
Sorry, I meant DCL_URL.
You can see it's trying to load `http://localhost:3001/src/datacamp-light.jsscript-22caf0b725.js` but only needs to load `http://localhost:3001/script-22caf0b725.js`.

[2016-10-20 09:22] suriyaJaay commented on #28
sorry man. remains same. just changed as you said. kindly give me solution. been working on this for 4 days.but cant find that issue

[2016-10-20 09:25] EvertEt commented on #28
`  var DCL_URL = "http://localhost:3003/";`

[2016-10-20 09:30] suriyaJaay commented on #28
@EvertEt no use .. :(

web.js
------
`var compression = require('compression');
var express = require('express');
var path = require('path');
var fs = require('fs');

var app = express();

app.use(compression());

app.use(express.static(path.join(__dirname, 'dist')));

var examplePath = path.join(__dirname, '/example/');
var examples = fs.readdirSync(examplePath).filter(function (name) {
  return

[2016-10-20 09:32] EvertEt commented on #28
Did you run `gulp` after changing the URL?

[2016-10-20 09:38] suriyaJaay commented on #28
thanks @EvertEt  now its working  fine. have a doubt. why do we need to use Gulp instead of nodemon

[2016-10-20 09:43] suriyaJaay commented on #28
Thanks for helping guys : ) @EvertEt  : ) 👍 lemme close it .

[2016-10-20 09:43] #28 closed

[2016-11-02 10:49] mplex opened #29 "Installing external packages"
Hi, This is a promising work for e-learning, and congrats so far...

I was wondering whether is possible to install R packages either from CRAN or from Github?

[2016-11-02 10:51] EvertEt commented on #19
@ludov04 Looks good.

[2016-11-02 11:21] filipsch commented on #29
@mplex nearly all packages from CRAN or installed (but they're not necessarily the latest version). We do installs and updates on a by-request basis. If you have any requests, feel free to let us know.

[2016-11-03 08:08] mplex commented on #29
Thanks @filipsch for the reply.
I was trying to load a package in the [demo R and Python example](https://cdn.datacamp.com/dcl/standalone-example.html). So I guess loading is possible in the widget.

[2016-11-03 08:08] #29 closed

[2017-02-01 10:30] nadimmajed opened #30 "Multiple choice question"
Hello,
How can I create a multiple choice question with datacamp-light, I have tried this code but there was an error :
DataCamp encountered the following error:
DC_CODE not set.

`     <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
      <div data-datacamp-exercise data-lang="python">

        <code data-type="pre-exercise-code">
          # pec
        </code>

[2017-02-01 10:31] filipsch commented on #30
Hi @nadimmajed; unfortunately, multiple choice questions are not supported on DataCamp light... DCL only features a minimal version of the standard interactive exercise on DataCamp.

[2017-02-01 10:57] nadimmajed commented on #30
Thankyou for your answer.

[2017-02-01 10:57] #30 closed

[2017-02-02 03:53] iparkdza opened #31 "callback value after code success"
We try to use the datacamplight in our site. After have success_msg we want to change to the next exercise by link to the next page so are there the callback value to us?

[2017-02-02 09:01] filipsch commented on #31
@iparkdza Hi! Currently, we do not support such a thing, but it's a very good suggestion. We'll see if we can fit in somewhere. Until then, you think that there a way for you to probe the DCL iframe and check when the success message pops up by inspecting the DOM?

[2017-02-02 09:02] filipsch commented on #31
Related to #2

[2017-02-02 09:02] filipsch commented on #17
@iankloo this is probably the RMarkdown CSS interfering with the one of DataCamp Light...

[2017-02-05 08:53] witusj opened #32 "Status 403 (Forbidden)"
After creating the html file, and testing it, it states that the session has been disconnected. With a bit of patience and after repeatedly clicking the 'Run' button it finally runs. See this video for a demonstration: https://youtu.be/IFUw7GV6tas

I love the idea behind your tool and if this issue could be resolved, it would be a quantum leap forward for me as a teacher. Truly revolutional!

Upda

[2017-02-05 12:01] ozonesk commented on #31
@filipsch Actually, we just think to do something like @iparkdza said but not sure about how to probe  the DCL iframe and check when the success message pops up by inspecting the DOM

We don't know how to do it. If there are the ways to do, I want to see it. Thank you :)

[2017-02-06 10:41] filipsch commented on #32
@witusj you might have caught us at a bad time: our session servers were having some difficulties yesterday. Normally this should be resolved by now. Until you've checked, I'll leave this issue open; there might be a bigger problem here!

[2017-02-06 11:03] witusj commented on #32
@filipsch I sense a slight improvement (sometimes it works three times in a row), but it is still not very reliable. Here is a [recording](https://youtu.be/jUIsisIMdX4). Good luck and when it works you'll have a big fan. Excellent stuff!

[2017-02-06 11:23] filipsch commented on #32
@witusj thanks for these details; I watched the recording and tried to reproduce, but no success. In the inspection field, can you go to the Network tab, and look for XHR commands that are in red. What's the details you see there? They might give more information on the 403 you're getting. Thanks!

[2017-02-06 12:23] witusj commented on #32
You'll have to educate me in this matter. Here is what I see:

https://youtu.be/WFODIQWqs9A

![screenshot-2017-feb-06-120-pm](https://cloud.githubusercontent.com/assets/5702329/22647008/6f106590-ec6f-11e6-823a-adcbefb12895.png)
![screenshot-2017-feb-06-119-pm](https://cloud.githubusercontent.com/assets/5702329/22647007/6f0ead68-ec6f-11e6-9497-c2d6e353ab66.png)

[2017-02-06 12:27] filipsch commented on #32
Yes, that's close. Now click on one of the red links and tell me what in the 'response' tab for those? Thanks!!

[2017-02-06 20:11] witusj commented on #32
It says 'No session'?

https://youtu.be/V-C3jzL7gJs

[2017-02-06 20:39] witusj commented on #32
There is always a reason and a solution. You'll fix it. I am not in a hurry.

[2017-02-09 16:31] Kacawi opened #33 "Install corrplot Package"
Could you install corrplot (https://www.rdocumentation.org/packages/corrplot/versions/0.2-0)? Thanks!

[2017-02-09 16:34] filipsch commented on #33
@Kacawi, it's being installed; I'll let you know when it's up!

[2017-02-09 20:52] filipsch commented on #33
@Kacawi it's available on datacamp light now if you have a new session. You can see it in the list of installed packages [here](http://documents.datacamp.com/default_r_packages.txt). Cheers!

[2017-02-09 20:52] #33 closed

[2017-02-20 22:22] filipsch opened #34 "Incorrect rendering of accented characters"
@dfalbel commented on [Tue Dec 27 2016](https://github.com/datacamp/tutorial/issues/20)

When using accented characters in exercises code comments, the sample code is ok:

![capturar](https://cloud.githubusercontent.com/assets/4706822/21507491/e734b844-cc5f-11e6-9297-95f51921c72b.PNG)

When I run the code, the accented characters are rendered wrong in the console

![capturar2](https://cloud.github

[2017-02-20 22:23] filipsch opened #35 ""Your session has been disconnected""
@rubenarslan commented on [Sat Sep 03 2016](https://github.com/datacamp/tutorial/issues/15)

I keep getting this, even in the example. It's somewhat random.
I tried disabling extensions, making sure I always only had one datacamp tab open.

What are possible causes? In the console I see 403s from the multiplexer subdomain that only seem to co-occur with the disconnected message. But I don't why th

[2017-02-20 23:11] filipsch opened #36 "Make sure DataCamp Light CSS can't be overridden"
If you're using DataCamp Light in certain themes, it's possible that the theme's CSS interfers with the CSS that DataCamp Light uses to render the iframe.

[2017-02-22 07:12] Kacawi opened #37 "Add Package Bioconductor"
Would it be possible to add the [bioconductor package](http://bioconductor.org)? Thanks!

[2017-02-22 12:14] filipsch commented on #37
@Kacawi, is `bioconductor` itself a package? I think it's a group of packages from bioinformatics. Which packages specifically do you need?

[2017-02-23 06:20] MahShaaban commented on #37
Hey @filipsch, @Kacawi is asking about `Bioconductor` to my request. You are right, `Bioconductor` is a group of packages. As explained in the [link](http://bioconductor.org/install/), installation are triggered by calling `biocLite`
[code]
This is a script that _installs or updates Bioconductor and CRAN packages in a Bioconductor release_. This is done by installing `Biobase` _which is Functions

[2017-02-24 09:57] filipsch commented on #37
@MahShaaban @Kacawi the basic bioconductor packages should be in there. You can check the list of all available packages here:
http://documents.datacamp.com/default_r_packages.txt

[2017-02-24 09:57] #37 closed

[2017-02-24 10:57] MahShaaban commented on #37
Great. Thanks a lot.

[2017-03-23 23:21] Kacawi opened #38 "Add Radarchart Packages"
Would it be possible to install the following packages:
- [`fmsb`](https://www.rdocumentation.org/packages/fmsb/versions/0.5.2)
- [`radarchart`](https://www.rdocumentation.org/packages/radarchart/versions/0.3.1)

Thanks!

[2017-03-23 23:55] filipsch commented on #38
@Kacawi it's building; will let you know once it's actually up and activated!

[2017-03-24 17:29] filipsch commented on #38
@Kacawi should be up and running!

[2017-03-24 17:29] #38 closed

[2017-04-27 15:15] machow opened #39 "matplotlib example plot display is broken"
First exercise on...

https://cdn.datacamp.com/dcl/standalone-example.html

outputs:

![image](https://cloud.githubusercontent.com/assets/2574498/25490429/cfab7bc4-2b3a-11e7-8592-92ed33e77aba.png)

[2017-04-27 15:22] filipsch opened #40 "DataCamp Light Python Plots Don't Show"
@Kacawi commented on [Wed Apr 19 2017](https://github.com/datacamp/pm-learn/issues/26)

For R, the plots are shown in a separate "Plots" tab in the DataCamp Light chunks:
![screenshot 2017-04-19 10 06 31](https://cloud.githubusercontent.com/assets/8349123/25169782/94b5d602-24e8-11e7-94dd-3753053cd197.png)

For Python, the plots don't show in the separate "Plots" tab. There's only a question mark i

[2017-04-27 15:50] filipsch commented on #39
Duplicate of #40, closing this one.

[2017-04-27 15:50] #39 closed

[2017-04-27 16:45] EvertEt commented on #40
Can it be that the python plot output is not hex anymore?

[2017-04-28 07:06] filipsch commented on #40
@EvertEt exactly, it's SVG now... We know where the issue is, actually, just need time to fix it. This is the link to the relevant commit in Angular version of campus app: https://github.com/datacamp/campus-app/commit/fa9f74033badf89acb709d5cd56addcd04263288 (gave you temporary access to the repo again, if you want to look into it).

[2017-04-28 08:56] filipsch opened #42 "Set up autodeployment"
Jenkins ftw

[2017-04-28 09:21] filipsch commented on #40
Fixed! @Kacawi @machow

[2017-04-28 09:31] #40 closed

[2017-05-03 17:39] jbarillas opened #43 "Add odbc Package"
Would it be possible to add the odbc package?

Thank you very much!

[2017-05-03 22:21] filipsch commented on #43
@jbarillas you are talking about the odbc R package right? What database do you want to connect to? I think the `odbc` package on its own won't suffice.

[2017-05-03 23:49] jbarillas commented on #43
@filipsch  You are correct and I'm trying to connect to an SQL Server database so the current `DBI` package does not have a backend like `src_mysql()`. Therefore I'd need to use both the `DBI` and `odbc` packages like so:

[code]

[2017-05-04 06:48] filipsch commented on #43
@jbarillas I can also install DBI and RMySQL, would that be better?

[2017-05-04 13:31] jbarillas commented on #43
@filipsch I was looking through the [default_r_packages.txt](http://documents.datacamp.com/default_r_packages.txt) file, and I do see that `DBI` and `RMySQL` are already there. Unfortunately, my problem requires the ability to connect to an SQL Server so my options would be to use `odbc` or [RSQLServer](https://github.com/imanuelcostigan/RSQLServer) (which is not currently on CRAN).

[2017-05-04 14:58] filipsch commented on #43
@jbarillas Can you let me know exactly which R package and which drivers you would need? R and bash commands to do the installs would also be very helpful! (the executor runs on Ubuntu 16.04)

[2017-05-04 17:46] jbarillas commented on #43
@filipsch It'd be [version 1.0.1](https://www.rdocumentation.org/packages/odbc/versions/1.0.1) and the SQL Server driver.

[code]

[code]

[2017-05-05 06:18] filipsch commented on #43
Cool, i'll look into making it available asap.

[2017-05-05 07:45] filipsch commented on #43
@jbarillas a new image is active, that features the ubuntu and R packages that you mentioned. I'll close this issue, but feel free to reopen if anything is not working as you'd expect it to!

[2017-05-05 07:45] #43 closed

[2017-06-28 08:10] filipsch opened #44 "Support HTML output"
@richierocks commented on [Tue May 16 2017](https://github.com/datacamp/pm-learn/issues/94)

Adapted by @filipsch

### Problem

HTML plots don't display in DataCamp Light

### Steps to Reproduce.

Go to any datacamp light chunk, and try to submit the following code:

[code]

It should show up a HTML plot (the response from the mux clearly shows that a payload type of `iframe` is sent back), but no

[2017-08-08 00:54] aaramirez opened #45 "Add packages"
Please add the following packages:

shinydashboard
fPorfolio
timeSeries
pastecs
fMultivar

[2017-08-08 07:22] filipsch commented on #45
@aaramirez these are R packages on CRAN, I presume? What versions would you like?

[2017-08-08 13:14] striderm opened #46 "stuck on loading datacamp light"
Hello, I build **_datacamp light repository_** as mention on github. after setting _datacamplight-latest-min.js_ in example files there is loading logo (datacamp logo) appear on page. any fixes ?

![capture](https://user-images.githubusercontent.com/4470057/29073458-50271374-7c69-11e7-81d8-c6deec332cf1.JPG)

[2017-08-08 13:21] filipsch commented on #46
Judging from your screenshot, i'm not sure if you are loading the assets correctly. Can you open up the console of the browser and include a screenshot of the error?

[2017-08-08 13:25] striderm commented on #46
@filipsch
![capture](https://user-images.githubusercontent.com/4470057/29073923-19090d5a-7c6b-11e7-9b19-281f6fa758b5.JPG)

[2017-08-08 13:29] striderm commented on #46
@filipsch
![capture](https://user-images.githubusercontent.com/4470057/29074099-aaf3ae82-7c6b-11e7-94dc-4d97b59fe616.JPG)

[2017-08-08 13:45] aaramirez commented on #45
Hello, the versions i use follows:

"shinydashboard", "0.5.3"
"fPortfolio", "3011.81"
"timeSeries", "3022.101.2"
"pastecs", "1.3-18"
"fMultivar", "3011.78"

Updated versions should work too.

[2017-08-08 14:17] striderm commented on #46
in chrome

![chrome](https://user-images.githubusercontent.com/4470057/29076208-65f088e4-7c72-11e7-851d-e87abb608708.JPG)

[2017-08-09 16:06] BrianAronson opened #47 "Package request for plm"
Please add the most recent version of the "plm" R package (available on CRAN) to DataCamp.

It is basically the "go to" tool for conducting regression analyses with time-series data (e.g. fixed effects models). The Journal of Statistical Software article that describes this R program has 400 citations on Google Scholar.

Best,

Brian

[2017-08-11 08:26] filipsch commented on #45
@aaramirez `shinydashboard` is probably not going to be supported out of the box inside DataCamp Light; it's a pretty complex tool.

[2017-08-11 16:28] filipsch commented on #47
@BrianAronson the package should be available now!

[2017-08-11 16:28] #47 closed

[2017-08-11 16:29] filipsch commented on #45
All packages you list except for `shinydashboard` should be available now!

[2017-08-11 16:29] #45 closed

[2017-08-11 19:51] BrianAronson commented on #47
Thanks!

[2017-08-22 14:46] aaramirez opened #48 "shiny package generating error"
I am trying to run a shiny app (very simple) and throws an error.

library(shiny)
ui <- fluidPage()
server <- function(input, output) {}
shinyApp(ui = ui, server = server)

DataCamp encountered the following error during console:
Error in file(file, ifelse(append, "a", "w")): cannot open the connection

Please try again, or refresh the page. Sorry for any inconvenience.

[2017-08-22 15:10] filipsch commented on #48
@aaramirez, unfortunately, shiny is not supported in DataCamp Light...

[2017-09-04 21:05] danrisk opened #49 "add packages"
I would like add VaRES package version 1.0 from CRAN

[2017-09-06 15:45] mcroyle commented on #36
Is this something that's being looked at? I'm seeing this issue and I can't quite pin down which theme style is mucking up the Datacamp exercise area.

[2017-09-06 17:44] filipsch commented on #36
@mcroyle we're actively working on a rework of DataCamp Light and will tackle this issue along with it. Thanks for flagging this; good to know it is still relevant.

[2017-09-07 21:15] #48 closed

[2017-09-11 07:21] filipsch commented on #49
@danrisk it should be available now in the console!

[2017-09-11 07:21] #49 closed

[2017-09-12 12:35] iamarcel commented on #46
You should be serving the assets from a local web server. Are you running `node web.js` as [described in the Building section of the readme?](https://github.com/datacamp/datacamp-light#building)

[2017-09-18 20:11] UCLATALL opened #51 "recording user submissions"
Is there a way to record and access data from user interactions in DCL?

[2017-09-19 07:11] filipsch commented on #51
@UCLATALL currently, this is not yet possible, but we're planning on adding a callback whenever somebody hits the Submit Answer button. We are working on a react rewrite of DCL, after which we'll be able to easily add extra features. We'll keep you posted!

[2017-09-19 07:50] larssk opened #52 "request for installing bio3d"
I'm seeking to use datacamp-light in combination with the bio3d package for teaching purposes. I read in the tutorial I could make an issue to request new packages. I hope you can consider installing bio3d. Thanks. L

[2017-09-25 10:25] filipsch commented on #52
bio3d, version 2.3-3, should be available in datacamp light now.

[2017-09-25 10:25] #52 closed

[2017-10-02 23:32] colingoldberg opened #54 "Jquery conflict embedding into my application page"
Hi,

I tried embedding datacamp-light into my application in these two steps:
- <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
- in a function, called on a button click, I am using jquery to open a dialog box containing the datacamp editor.
ie.
`var template_html = '<div data-datacamp-exercise data-lang="python">'
				+ '<code data-type="pre-exercise-code"></code>'

[2017-10-03 05:55] filipsch commented on #54
@colingoldberg Thanks for flagging it. Do you have this webpage running somewhere online, so we can easily reproduce / research?

[2017-10-03 13:32] colingoldberg commented on #54
I have cloned index.html so as to include 'https://cdn.datacamp.com/datacamp-light-latest.min.js' - you can access it by going to:
http://sandbox.ritc.io:1880/datacamp.html

Click on the person icon and click login. It immediately fails and debug shows:
`Uncaught TypeError: $(...).dialog is not a function
    at Object.showRitcLoginPanel (ritc.js:179)
    at Object.onselect (user.js:120)
    at HT

[2017-10-04 11:31] bakera81 opened #55 "Security Concerns"
On learnpython.org, you can execute OS level commands.

## Steps to Reproduce
1. Head over to https://www.learnpython.org/en/Hello%2C_World%21 Example to get OS environment data:
[code]
Returns:
[code]
 Example to get OS code execution (simple example using 'id' command:
[code]
Returns:
[code]

More info: https://sethsec.blogspot.com/2016/11/exploiting-python-code-injection-in-web.html

[2017-10-08 13:40] amn41 opened #56 "add rasa_nlu & rasa_core packages to python env"
I'd like to try using datacamp-light as part of the documentation for [Rasa NLU](https://github.com/RasaHQ/rasa_nlu) & [Rasa Core](https://github.com/RasaHQ/rasa_core)

[2017-10-09 07:04] filipsch commented on #56
@amn41 some quick questions:
- Do the code snippets take long to run, or do they require big data? DataCamp Light chunks will only get 800mb of RAM, and the session times out after 25s.
- Can you provide detailed install instructions for both packages?
Thanks!

[2017-10-18 03:18] Akhi1 opened #57 "add console clear button"
Hi there I think a console clear button somewhere inside the interactive shell will be great. Sometimes a learner/user will play around with trying some random stuff and the previous outputs will get piled up creating a confusion.

[2017-10-23 18:13] machow commented on #55
You don't need to use eval. These commands can be run directly on any datacamp light python exercises. However, it is being run as root (which hopefully protects against most issues):

![image](https://user-images.githubusercontent.com/2574498/31905448-c268aee4-b81d-11e7-991f-1d2e79152468.png)

[2017-10-24 00:30] filipsch commented on #55
@bakera81 not sure if this is a security issue. Our code execution service allows people to run arbitrary python code, so code for OS-level commands. However, this code is executed as a non-root user, so your ability to mess things up is rather limited.
I'm closing this, as this is something we're aware of, but if you have a targeted example where this is troublesome, please reopen!

[2017-10-24 00:30] #55 closed

[2017-10-31 14:52] jimstigler commented on #51
Related to this, is it possible to have separate RUN and SUBMIT buttons in DCL?

[2017-10-31 15:02] filipsch commented on #51
Good idea! We'll look into this option during the rewrite as well!

[2017-11-01 02:31] jimstigler commented on #51
Hi filipsch, any idea on what the timeline is on the rewrite? The callback is mission critical for my project, and the separate Run and Submit Answer buttons would be really nice.

[2017-11-02 21:19] maryctucker opened #58 "ggformula and mosaic for datacamplight"
We would like to use ggformula and mosaic with Datacamp Light. Could you add these packages?

Thank you!

[2017-11-02 21:45] filipsch commented on #58
@maryctucker which versions would you like?

[2017-11-02 21:53] maryctucker commented on #58
The most recent versions would be great. Thank you!

[2017-11-02 22:01] filipsch commented on #58
@maryctucker Okay!  `ggformula v0.6` and `mosaic v1.1.0` are installing, along with dependencies in a new Docker image. This image build can take a while, but it should be up by tomorrow morning Belgian time (in around 10 hours)!

[2017-11-02 22:03] maryctucker commented on #58
Awesome! Thanks so much for the quick turn around. We really appreciate it.

[2017-11-03 12:21] filipsch commented on #58
The packages should be available now. Enjoy!

[2017-11-03 12:21] #58 closed

[2017-11-11 02:28] dppalomar opened #59 "quantmod::getSymbols() gives error"
Hi, I am just trying the package tutorial for the first time to teach a class.
However, I ran into problems right away when I tried to load financial data:
library(quantmod)
getSymbols("^GSPC")

The same two lines I can execute on my local RStudio. DataCamp quantmod version is only 0.4.7 instead of 0.4.9, but I don't think that's the issue...

Thanks
Daniel

[2017-11-13 09:01] filipsch commented on #59
Hi @dppalomar, I will start by upgrading the version, to see if that fixes anything. Will let you know when that's up!

[2017-11-13 11:39] filipsch commented on #59
@dppalomar The updated package should now be loaded the next time you try a DataCamp Light chunk. I checked, and for me it works now. Can you confirm and close when your problem is resolved?

[2017-11-13 15:08] dppalomar commented on #59
It works, thanks!!

[2017-11-13 15:08] #59 closed

[2017-11-26 11:58] ilkerarslan opened #60 "Translation"
Hi,

I am using "Datacamp Light" plugin for my education site which is in Turkish. Is it possible to translate button labels "Hint", "Run", "Solution" and the sentence "Powered by Datacamp" to Turkish language?

I am using Loco plugin to translate other plugins but that didn't work for Datacamp Light.

[2017-11-27 20:52] filipsch commented on #60
Hi @ilkerarslan, unfortunately it is not possible to change the text of the different buttons in the DataCamp Light interface. It's a great suggestion though, that would help with embedding this in non-English material. We're currently working on a react rewrite of the app, and we'll consider it when doing the next round of enhancements after launching that. Thanks!

[2017-11-27 20:53] filipsch commented on #51
@jimstigler sorry for the late response. We're currently wrapping up on the rewrite, but still have to do thorough testing. Realistically speaking, getting the app out without enhancements to everybody out there will be for mid December. The first enhancements would be rolling out on a continuous basis around EOY. There is not a detailed roadmap for that, however, but I'll let you know as soon as

[2017-11-30 21:11] Tellechea19 opened #61 "Add package"
Please add the following packages:

- tvm
- lpSolve
- linprog

[2017-12-01 08:29] filipsch commented on #61
@Tellechea19 Are these R packages? Which versions would you prefer? Thanks.

[2017-12-01 18:14] Tellechea19 commented on #61
Yes, they are R packages.

- tvm 0.3.0
- lpSolve 5.6.13
- linprog 0.9-2

Thank you

[2017-12-06 12:57] filipsch commented on #61
@Tellechea19 should be up!

[2017-12-06 12:57] #61 closed

[2017-12-17 11:27] manikantants opened #62 "Exercise at "en/Loops" forces for a specific variable name"
Exercise at "http://www.learnpython.org/en/Loops" forces for a specific variable name "number" for loop iteration. Giving any other variable name doesn't work

[2017-12-18 09:30] filipsch commented on #62
@manikantants the submission correctness test that is written for the DataCamp Light chunk decides how strict the checking happens. You can contact the authors of Learn Python to make it more robust as this is a content issue, not a product issue. Thanks!

[2017-12-18 09:30] #62 closed

[2018-01-08 19:18] jimstigler opened #63 "Is there a way to specify the height of the window for a DataCamp Light exercise?"
It would be good to be able to leave more room for exercises that require more code.

[2018-01-08 19:45] jimstigler commented on #63
In the documentation it says there is a setting data-height, but I can't get it to do anything. For example: <div data-datacamp-exercise data-height="800px" data-lang="r"> doesn't change the height from the default. Maybe I'm using it wrong?

[2018-01-08 20:51] filipsch commented on #63
@jimstigler I don't see the example you posted; could you update your comment?

[2018-01-08 20:56] jimstigler commented on #63
Sorry - here is what I tried:
<div data-datacamp-exercise data-height="800px" data-lang="r">

[2018-01-08 21:32] EvertEt commented on #63
You should specify the height as a number, omitting the `px` as seen in this example:
https://github.com/datacamp/datacamp-light/blob/master/example/example-r.html#L15

[2018-01-16 16:30] Kacawi opened #64 "Allow SQL as a language"
Not an urgent request at all, but was thinking it would be maybe nice to have this also for SQL - It's a nice to have for the Community. @filipsch what do you think?

[2018-01-16 16:36] filipsch commented on #64
@Kacawi good idea. We're thinking about supporting both SQL and Shell. The new version of DataCamp light, which will be a rewrite in React, should deploy soon. After that, there will be a discussion about which enhancements and features to work on next (if there is bandwidth). We'll keep you posted.

[2018-01-16 17:26] Kacawi commented on #64
Alright, thank you very much, @filipsch! :)

[2018-01-22 16:01] danrisk opened #65 "I would like add rriskDistributions package version 2.1.2 from CRAN"

[2018-01-23 09:53] filipsch commented on #65
Update: the install failed because some Linux binaries were missing. Retriggered a new build, hope that passes so I can activated the new image soon.

[2018-01-25 05:16] UCLATALL opened #66 "Package install request"
Hello,

Could you please install the following packages?
Lock5withR
Lock5Data

Thank you very much for your help.

[2018-01-29 12:19] filipsch commented on #66
@UCLATALL i've triggered a new build of the R image that is used to spin up sessions on DataCamp light, that includes the installs for the two packages you mentioned. If the build passes, I will activate this new image around 10am BE time tomorrow (Tuesday). Will keep you posted!

[2018-01-29 18:55] UCLATALL commented on #51
Hi @filipsch - is there an update on the release date for the rewrite? Will it include the callback to indicate whether the student got the exercise correct or not? Thanks!

[2018-01-30 09:08] rv2e commented on #51
Hi, @UCLATALL. The rewrite should be finished soon. Once we have a stable version, we will start doing improvements. Any contributions will be very welcomed as well. We will keep you in touch.

[2018-01-30 11:18] filipsch commented on #66
Should be up now!

[2018-01-30 11:18] #66 closed

[2018-01-30 11:18] filipsch commented on #65
Should be available now! Sorry for the long turnaround.

[2018-01-30 11:18] #65 closed

[2018-02-12 04:40] annafergusson opened #67 "Adding a R package - iNZightPlots"
Is there anyway you could add the iNZightPlots package?

It can be installed from this repository: http://r.docker.stat.auckland.ac.nz/R/
or from github: https://github.com/iNZightVIT/iNZightPlots

[2018-02-12 12:46] filipsch commented on #67
Hi @annafergusson would you mind providing exact install instructions, so we can translate those easily to the specification of the Docker image? Thanks.

[2018-02-12 20:19] UCLATALL opened #68 "Adding a package"
Could you please install this package? https://github.com/UCLATALL/supernova/blob/master/supernova_1.0.tar.gz

Thank you so much.

[2018-02-12 22:12] filipsch commented on #67
@annafergusson that should work! Can you also list out what all the dependencies for this package are, and which versions you would need for these dependencies? I want to make sure we have full control over which versions we add. By what time do you need this?

[2018-02-12 22:13] filipsch commented on #68
Hey @UCLATALL, can you provide an R or bash command that I can use to install this package?

[2018-02-12 22:13] #63 closed

[2018-02-12 22:52] annafergusson commented on #67
The dependencies are: grDevices, stats, utils, grid, boot, s20x, survey, quantreg, hexbin, hextri, colorspace, dichromat, iNZightMR

Sorry, I don't know what versions are needed for these dependencies.

There's no urgency to this request :-)

[2018-02-12 23:19] UCLATALL commented on #68
Assuming you have the devtools package installed and loaded, this command will do it:
install_github("UCLATALL/supernova", subdir="supernova")

[2018-02-13 20:04] filipsch commented on #67
@annafergusson The build is running, i'll check tomorrow if it passed, and activate the image if it passed. If this is done, your packages will be available.

[2018-02-13 20:05] filipsch commented on #68
@UCLATALL The build is running, i'll check tomorrow if it passed, and activate the image if it passed. If this is done, your package will be available.

[2018-02-13 20:26] annafergusson commented on #67
Thank you so much @filipsch

[2018-02-14 15:14] filipsch commented on #67
should be up!

[2018-02-14 15:14] #67 closed

[2018-02-14 15:40] UCLATALL commented on #68
Thanks!

On Wed, Feb 14, 2018 at 7:14 AM, Filip Schouwenaars <
notifications@github.com> wrote:

[2018-02-14 23:50] AIITech opened #69 "import pyspark ERROR"
Hello datacamp-light team,

I try to import pyspark package but I get an error (No module named 'pyspark')

Could you add this library please to your plugin because it is one of the most important libraries in python?

And thank you for this great plugin.

[2018-02-15 00:21] filipsch commented on #69
Hi @AIITech, unfortunately, DataCamp Light does not give you enough RAM memory per session to comfortably run Spark. This is something we might consider in the future, but running spark is currently out of the question. I hope you understand that providing all of these computation resources is a costly affair for DataCamp, and not something we can guarantee for all use-cases.

[2018-02-15 00:21] #69 closed

[2018-02-15 20:46] tgudenkauf opened #70 "Add AER package to R environment"

[2018-02-15 21:40] filipsch commented on #70
@tgudenkauf which version would you like? :)

[2018-02-20 20:12] martijnsublime opened #71 "Use a lazy loader component"
See: https://github.com/jasonslyvia/react-lazyload. Used on the community as well for sound could with great effect.

[2018-02-22 14:06] tgudenkauf commented on #70
Version 1.2-5 would be great! Thank you!

On Thu, Feb 15, 2018 at 3:40 PM, Filip Schouwenaars <
notifications@github.com> wrote:

[2018-02-26 01:30] danrisk opened #72 "I would like add termstrc package version 1.3.7 and lifecontingencies version 1.3 from CRAN"

[2018-02-26 10:41] filipsch commented on #70
@tgudenkauf A new docker image is building, that contains the `AER` package. If it built successfully, I will probably activate it Tuesday Feb 27, around 9:00am UTC.

[2018-02-26 10:48] filipsch commented on #72
@danrisk A new docker image is building, that contains the `termstrc` and `lifecontingencies` packages. If the image was built successfully, I will probably activate it Tuesday Feb 27, around 9:00am UTC.

[2018-02-27 09:49] filipsch commented on #72
Should be up!

[2018-02-27 09:49] #72 closed

[2018-02-27 09:49] filipsch commented on #70
Should be up!

[2018-02-27 09:49] #70 closed

[2018-02-27 21:37] tgudenkauf commented on #70
It is working perfectly! Thank you so much!

Sent from my iPhone

[2018-03-01 17:21] filipsch opened #73 "I would like to use the R package "aplpack" in the web servers of datacamp-light."
@vigonfer commented on [Thu Mar 01 2018](https://github.com/datacamp/datacamp/issues/7)

[2018-03-01 18:03] filipsch commented on #73
@vigonfer A new docker image is building, that contains the `aplpack` package (version 1.3.0). If it built successfully, I will probably activate it Friday March 2, around 9:00am UTC.

[2018-03-02 10:44] filipsch commented on #73
@vigonfer It's up!

[2018-03-02 10:44] #73 closed

[2018-03-02 18:13] vigonfer commented on #73
That´s great, thanks!

[2018-03-05 23:06] westonstearns opened #74 "Not working on mobile on learnpython.org"
Our partner learnpython.org has reported that the datacamp light on the page is not loading for ios users.

I am able to use them successfully on ios chrome, but not on safari. The code simply doesn't run but you can tap run with no result.

Example link and screenshot:
http://learnpython.org/en/Basic_Operators
![image uploaded from ios](https://user-images.githubusercontent.com/18146758/37004765-

[2018-03-06 16:38] #17 closed

[2018-03-06 18:43] nanrold opened #75 "font size too small in datacamp light"
When I knit the R markdown doc with go_interactive() function, it correctly produces the interactive R-editor and R-console.  However, I do find the font size to be a little bit too small.  Is there a way to make the font size within the interactive R-editor and R-console bigger than the default?

[2018-03-06 19:29] EvertEt commented on #74
Not a fix but a workaround: The first tap just shows the tooltip, but if you tap run twice in succession (second press with tooltip showing), it runs as expected.

[2018-03-11 13:37] jeroenclaes opened #76 "vcd package missing"
Dear all,

First off: thanks for making datacamp light available. It is awesome!

Could you please add the "vcd" package to the list of available packages on the servers?

https://cran.r-project.org/web/packages/vcd/index.html

Thanks a lot!

[2018-03-12 09:32] jeroenclaes commented on #76
Thanks Filip! This is perfect.

[2018-03-12 17:47] UCLATALL commented on #35
We are getting the same issue on Safari, but only on some computers. We have tested on 2 macs using the same version of Safari. It reliably works on one, but not on the other.

[2018-03-14 20:26] Kacawi opened #77 "keras package missing"
In the R DataCamp Light chunks, the `keras` package is missing. (cfr. https://www.datacamp.com/community/tutorials/keras-r-deep-learning)
That gives the following error:
![screenshot 2018-03-14 21 25 46](https://user-images.githubusercontent.com/8349123/37429024-63e1ef86-27ce-11e8-80d1-db95f4af0379.png)

[2018-03-15 09:13] filipsch commented on #77
@Kacawi A fix is deployed. The Docker image is now rebuilding, which can take quite some time. I'll keep an eye on it, and is soon as it finished, I'll check again if it works properly this time, and activate afterwards. I'll keep you posted.

[2018-03-15 09:17] Kacawi commented on #77
@filipsch Thanks for taking this up so quickly!

[2018-03-16 03:24] galexy commented on #64
Cool! When is the react rewrite expected?

[2018-03-16 07:41] filipsch commented on #64
@galexy should be deployed next Wednesday if all goes well.

[2018-03-16 07:43] filipsch commented on #76
@jeroenclaes package should be available.

[2018-03-16 07:43] #76 closed

[2018-03-16 07:43] filipsch commented on #77
@Kacawi package should be available again!

[2018-03-16 07:43] #77 closed

[2018-03-16 08:50] Kacawi opened #78 "Keras DataCamp Light Chunks - Fail because of runtime error"
## The Issue
I get the following error messages from the DataCamp Light chunks that are embedded in [this `keras` R tutorial](https://www.datacamp.com/community/tutorials/keras-r-deep-learning):
[code]

[code]

## Reproduce?
You can reproduce the error by going to the tutorial and trying to run any of the chunks towards the end in which the Keras model is constructed.

[2018-03-16 09:07] jeroenclaes commented on #76
@filipsch Hartelijk bedankt!

[2018-03-16 10:28] filipsch commented on #78
@Kacawi can you provide me with the exact code that is failing? That way I don't have to reverse-engineer that from the DCL chunks.

[2018-03-16 10:32] Kacawi commented on #78
@filipsch I can try to see if I can find the code back but I'm fairly unoptimistic about that one since there wasn't any version control.
Nevertheless, I wanted to add to the original issue that I also see the following in some cases:

[code]

I will try to see if I can update this issue with the exact code that is failing but it seems to go wrong already at the import.

[2018-03-16 10:33] Kacawi commented on #78
I remember that the installation of the R `keras` package was a difficult one because Keras is a wrapper on TensorFlow and you had to do some magic to get that to work with R. I think the issue is related to that.

[2018-03-16 11:10] filipsch commented on #78
@Kacawi I managed to find a chunk of code that is not working:

[code]

It goes wrong in the `model <- keras_model_sequential()` step. I'll look into it as soon as I find the time.

[2018-03-16 12:12] filipsch commented on #78
@Kacawi A fix is deployed. The Docker image is now rebuilding, which can take quite some time. I'll keep an eye on it, and is soon as it finished, I'll check again if it works properly this time, and activate afterwards. I'll keep you posted.

[2018-03-16 15:51] filipsch commented on #78
@Kacawi should be good now

[2018-03-16 16:00] filipsch commented on #78
Still not working. Continuing to investigate.

[2018-03-16 16:17] filipsch commented on #78
@Kacawi A fix is deployed. The Docker image is now rebuilding, which can take quite some time. I'll keep an eye on it, and is soon as it finished, I'll check again if it works properly this time, and activate afterwards. I'll keep you posted. 😉

[2018-03-16 16:19] Kacawi commented on #78
@filipsch Thanks a lot!!

[2018-03-16 22:41] willgearty opened #79 "Run line or set of lines"
It would be great to be able to only run a particular line or lines, rather than running the entire script every time.

[2018-03-17 20:20] filipsch commented on #79
@willgearty great suggestion! After the rewrite, several shortcuts (such as Cmd + Enter to execute a line) should become available out of the box. If they don't, we'll make sure to add it to the list of enhancements. Thanks.

[2018-03-20 09:17] filipsch commented on #78
@Kacawi should be up. Can you verify and close if it works?

[2018-03-20 11:23] filipsch commented on #78
@Kacawi confirmed it works.

[2018-03-20 11:23] #78 closed

[2018-03-27 17:12] UCLATALL opened #80 "xpf() from mosaic package doesn't run"
This code runs fine in R Studio: xpf(3.305, df1=1, df2=42)
But, it gives an error message in DCL ("argument is missing"). Any ideas? Other functions from the same package do work.

[2018-03-27 21:18] UCLATALL opened #81 "set.seed() in pre-exercise code is not transferring in sample code"
Good afternoon,

I would like to set a random number generator in the pre-exercise code so that when students generate random numbers in the sample code area, they produce the same output. I have tried including set.seed() in the pre-exercise code, but this does not seem to apply to the sample code area.
For example:
Pre-exercise code:
                require(mosaic)
                require(ggform

[2018-03-27 21:24] ramnathv commented on #81
@UCLATALL Can you elaborate on what happens when you use `set.seed` in the `pre_exercise_code`? If you have a link to the snippet you are using, that would be very useful to help debug this.

[2018-03-27 21:47] UCLATALL commented on #81
Sure, here's a link to the code: https://github.com/UCLATALL/intro-stats-modeling/blob/master/data-camp/chapter-9/ch9-5.html

And here's a link to the exercise: https://uclatall.github.io/intro-stats-modeling/data-camp/chapter-9/ch9-5

Thanks for your help!

[2018-03-28 00:33] filipsch commented on #81
@UCLATALL this article might be useful to go through: https://github.com/datacamp/testwhat/wiki/Randomness. Let me know if that solves it for you.

[2018-03-28 00:44] filipsch commented on #80
@UCLATALL I need more info to reproduce this issue.

- What is the version of `mosaic` that you are running?
- What version of R are you running?
- On what machine are you running?

The above information can be obtained by doing `sessionInfo()` in your console, and including the output here.

For reference, when I try to do your command on DataCamp LIght, I indeed get the error:

[code]

This is t

[2018-03-28 01:10] UCLATALL commented on #80
Here is my sessionInfo():
sessionInfo()
R version 3.4.0 (2017-04-21)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.2 LTS

Matrix products: default
BLAS: /usr/lib/libblas/libblas.so.3.6.0
LAPACK: /usr/lib/lapack/liblapack.so.3.6.0

locale:
[1] C

attached base packages:
[1] stats graphics grDevices utils datasets methods base

other attached packages:
[1] supernova_1.0 mosaic_1

[2018-03-28 01:16] UCLATALL commented on #80
Oh, you probably wanted the sessionInfo() from my local machine, where is works! Here it is:
R version 3.4.3 (2017-11-30)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.3

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions

[2018-03-28 01:31] filipsch commented on #80
@UCLATALL what should the function produce on your system? Should it give a plot? Or just do a printout?

[2018-03-28 01:34] UCLATALL commented on #80
It does a plot and an output to the console.

Sent from my iPhone

[2018-03-28 02:05] filipsch commented on #80
@UCLATALL When I install `mosaic` on my local machine and execute the R snippet, it also works for me. In the Docker container (where the R code in datacamp light is running), though, I suspect there is an issue with the image driver. The error is very obscure.
This is something that needs more investigation, and can't be solved in the next weeks, realistically.

[2018-03-28 03:11] UCLATALL commented on #81
That helped. Thank you!

[2018-03-28 03:18] UCLATALL commented on #80
@filipsch Do you think you could try updating the mosaic and related packages, just to see if it might fix it? Thanks!

[2018-03-28 07:08] filipsch commented on #80
@UCLATALL I have tried, no luck

[2018-03-28 07:08] #81 closed

[2018-03-29 14:31] UCLATALL commented on #80
@filipsch Interestingly, this code works, producing the plot and all:
xpnorm(1,0,1)

[2018-03-29 15:33] filipsch commented on #80
@UCLATALL very interesting. Maybe roll with that then, if it works. Please close if this is no longer an issue for you.

[2018-03-29 16:09] UCLATALL commented on #80
@filipsch Well, it doesn't solve our problem... the function we need is ```xpf()```. I'd like to leave this open and hope for a fix someday.

[2018-03-30 18:41] UCLATALL commented on #80
@filipsch The Mosaic team just told me that if you update the package tibble on DataCamp it should solve the problem. Currently you have version 1.2; it should be updated to 1.4.2. Can you please try that? Thanks.

[2018-03-30 19:51] filipsch commented on #80
@UCLATALL I'm running a new build of the Docker image that is used to serve sessions on DataCamp Light, that contains an upgrade of tibble to 1.4.2. It takes quite a while to build, but if it passes, I'll activate and report here.

FYI I will be OOO for 2 weeks as of tomorrow, so this might not happen before that anymore (it's 10pm here in Belgium). If you hear nothing in the next 48 hours, you ca

[2018-03-31 16:08] filipsch commented on #80
@UCLATALL the new image has been activated, and now it should work. Can you confirm and close if all looks good?

[2018-04-01 16:07] UCLATALL commented on #80
It works! Thank you so much for your help on this! I will close this issue.

[2018-04-01 16:07] #80 closed

[2018-04-02 19:52] willgearty commented on #79
Any idea when the rewrite will launch? No rush, just excited!

[2018-04-07 14:27] ismayc opened #82 "Installing infer package"
I'm leading a workshop on Friday, April 13 and would like to experiment with having DataCamp Light in my xaringan slides just in case workshop participants don't have RStudio installed. It would be great if the `infer` package and its dependencies could be installed. It's currently used in two DataCamp courses with two more in development. We plan to send an update to CRAN in a few days, but for t

[2018-04-07 20:40] AIITech opened #83 "Removing "Powered by Datacamp" + Suggestions"
I use data camp-light WordPress plugin on my website and I add many exercises into my website and there are many "Powered by Datacamp" in the same page and that's not good for UX and not beautiful and most of the students dislike that because that too much.

Can I remove "Powered by Datacamp" from the exercises and keep only one to the bottom of the page or at the beginning of the blog or course a

[2018-04-09 08:47] benbell95 opened #84 "Package request: openxlxs"
Hello,

I am using Datacamp light on my website (currently in testing), and was wondering if its possible to add the "openxlxs" package to the setup - its for importing and writing Excel files, and i wanted to do a demonstration of this on my site.

The package can be found here: https://cran.r-project.org/package=openxlsx

Best,
Ben

[2018-04-10 21:02] AIITech opened #85 "sklearn (CategoricalEncoder)"
Hello datacamp-light,
I am trying to import CategoricalEncoder from sklearn but I get this error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
    from sklearn.preprocessing import CategoricalEncoder
ImportError: cannot import name 'CategoricalEncoder'

Note: The CategoricalEncoder class has been introduced recently

[2018-04-16 07:29] filipsch commented on #82
@ismayc sorry for the late response, I was OOO. Still relevant to install it?

[2018-04-16 12:45] ismayc commented on #82
No rush on this now. I will reach out again later after `infer` is at version 1.0.

[2018-04-17 07:24] filipsch commented on #85
Hey @AIITech, the current version of `sklearn` that is running on DataCamp Light is `0.18.1`:

![image](https://user-images.githubusercontent.com/5768479/38854481-e38bef22-4220-11e8-9168-8c11a446fdca.png)

This version indeed does not have CategoricalEncoder in it; this feature appears to have been introduced in `v0.20.dev0` (see [here](http://scikit-learn.org/dev/modules/generated/sklearn.preproc

[2018-04-17 07:24] #85 closed

[2018-04-17 07:27] filipsch commented on #79
@willgearty it's approaching completion, but hard to put a date to it. We will let you know as soon it deploys.

[2018-04-17 07:38] filipsch commented on #84
Hey @benbell95, a new image build is running that installs the package `openxlsx`, version 4.0.17. If the build is successful, I will activate the new image tomorrow morning, which will make the package available in datacamp light.

[2018-04-17 21:17] ghost opened #86 "Updating the supernova package"
@filipsch Can you please update our supernova package from github? This code should do it:
```library(devtools)```
```install_github("UCLATALL/supernova/supernova")```
Thanks!

[2018-04-18 07:14] filipsch commented on #84
Should be up!

[2018-04-18 07:14] #84 closed

[2018-04-18 07:18] #86 closed, assigned to nobody

[2018-04-18 07:54] benbell95 commented on #84
Awesome, this works great!

[2018-04-25 13:23] liao961120 opened #87 "R Package install request"
Hello,

Could you please install the R package "googlesheets"?

https://cran.r-project.org/web/packages/googlesheets/index.html

Thank you very much!

[2018-04-25 14:04] filipsch commented on #87
Hey @liao961120, thanks for your request. A new image build is running that installs the package googlesheets, version 0.0.2. If the build is successful, I will activate the new image within 48 hours, which will make the package available in datacamp light. As soon as that is done, I will close this issue. Cheers

[2018-04-26 08:23] #87 closed, assigned to nobody

[2018-04-30 12:35] tonigi opened #88 "Package dtw"
Would it be possible to install the `dtw` package from CRAN? It's used by the interactive examples at [this page](http://dtw.r-forge.r-project.org/). Thanks!

[2018-05-02 05:57] jimstigler commented on #51
@filipsch Can you share an update on the rewrite? Is there a way for us to contribute? We are very interested in helping get DCL to the next level.

[2018-05-02 21:32] UCLATALL opened #89 "Install Request: fivethirtyeight"
@filipsch Hi, can you please install the package fivethirtyeight from CRAN? Thanks!

[2018-05-02 22:57] filipsch commented on #89
Hey @UCLATALL, thanks for your request. A new image build is running that installs the package `fivethirtyeight`, version `0.4.0`. If the build is successful, I will activate the new image within 48 hours, which will make the package available in datacamp light. As soon as that is done, I will close this issue. Cheers

[2018-05-02 23:37] UCLATALL commented on #89
Thanks much!

[2018-05-03 08:28] tonigi commented on #88
...and working! Thanks!

[2018-05-11 14:24] CloudKing-GrowLearning opened #90 "Install Request: praw"
Hello,
Would it be possible to install the PRAW package?

Thank you

[2018-05-14 07:12] filipsch commented on #90
@CloudKing-GrowLearning judging from a google search, this is a Python package? What version would you like?

[2018-05-14 07:54] CloudKing-GrowLearning commented on #90
Hello,
The latest version would be good (3.6).  Apologies for not linking package site.

Thank you

[2018-05-17 09:31] filipsch commented on #90
Hey @CloudKing-GrowLearning, thanks for your request. A new image build is running that installs the package praw, version 5.4.0, for Python 3.5.2. If the build is successful, we will activate the new image within 48 hours, which will make the package available in DataCamp Light. As soon as that is done, we will close this issue. Cheers

[2018-05-18 08:52] rv2e commented on #90
The new image has been deployed including the `praw` package.

[2018-05-18 08:52] #90 closed

[2018-05-18 10:16] CloudKing-GrowLearning commented on #90
Thanks you very much

[2018-05-30 12:38] #71 closed

[2018-05-30 14:11] iamarcel opened #91 "Allow Shell as a language"
Just like in the full DataCamp, we would like to support shells so that you can do things like in the [Introduction to Shell for Data Science](https://www.datacamp.com/courses/intro-to-unix-shell) course.

[2018-05-30 14:18] iamarcel opened #92 "CircleCI: Update to a newer NPM version"
With NPM version 5.6, the package installation fails. Currently, we use an older image on CircleCI with NPM 5.5. Once an image becomes available with a new NPM version (or we find a better way of upgrading NPM), we should update the configuration.

[2018-05-30 14:27] iamarcel commented on #19
In the new [beta version](https://github.com/datacamp/datacamp-light/tree/beta), we've made the logo a lot smaller! To try it out, just change the script tag to this:

[code]

![screenshot from 2018-05-30 16-24-12](https://user-images.githubusercontent.com/1212234/40726491-26f193b2-6426-11e8-9158-42b1778b57eb.png)

[2018-05-30 14:27] #19 closed

[2018-05-30 14:31] #36 closed

[2018-05-30 14:33] iamarcel commented on #42
~Jenkins~ CircleCI ftw! (here's the docs about that: https://github.com/datacamp/datacamp-light/tree/beta#continuous-integration)

[2018-05-30 14:33] #42 closed

[2018-05-30 14:38] iamarcel commented on #83
In the new [beta version](https://github.com/datacamp/datacamp-light/tree/beta), we've made the logo a lot smaller! If you have access to the HTML code, you can just change the script tag to this:

[code]

The WordPress plugin doesn't use this beta version yet, though.

If you'd like to make multiple suggestions, would you mind creating a separate issue for each of them? Thanks!

I'm closing this

[2018-05-30 14:38] #83 closed

[2018-05-30 15:01] iamarcel commented on #56
I'll close this for now due to inactivity. Feel free to reopen if you have something more to help us out!

[2018-05-30 15:01] #56 closed

[2018-05-30 15:08] iamarcel commented on #31
That's a great idea! Since we've rewritten DataCamp Light ([currently in beta](https://github.com/datacamp/datacamp-light/tree/beta)), this sounds like a good suggestion to add in there. There's already a global function to manually trigger DCL's initialization so we might just add another function that allows you to insert some of your own as a callback.

This issue is a duplicate of #2 though, s

[2018-05-30 15:08] #31 closed

[2018-05-30 15:12] iamarcel commented on #32
@witusj I don't know if this is a backend or front-end error, but you could try with the beta version! (which is all-new and fancy) Clearing your cookies could help too, since we try to remember you when connecting to the backend session. Maybe something went wrong there.

To try the new version, just replace your script tag with this one:

[code]

[2018-05-30 15:21] iamarcel commented on #54
Hi! We've now [rewritten DCL](https://github.com/datacamp/datacamp-light/tree/beta) in a way that is a lot more self-contained. It's in beta right now but feel free to try it out. You shouldn't have this issue anymore!

[2018-05-30 15:21] #54 closed

[2018-05-30 15:22] iamarcel commented on #46
Closing this issue due to inactivity. Feel free to reopen if you still have problems after our suggestions.

[2018-05-30 15:22] #46 closed

[2018-05-30 15:56] UCLATALL commented on #51
We will start testing immediately! Congratulations on getting this out! We will follow up with feedback.

[2018-05-30 15:58] UCLATALL commented on #51
Also, note our suggestion above: would be great to **optionally** have both a RUN and SUBMIT button, so students could test out ideas before "submitting" to the teacher.

[2018-05-30 17:56] dmunguia commented on #2
I vote +1 for this issue, It would be great to have something like this to be able to integrate DCL results into other tools.

[2018-05-31 03:03] UCLATALL opened #93 "Most recent plot should show whenever a plot is produced #beta"
#beta In the beta, when a plot is run, it doesn't update the plot window to show the most recent plot. You need to manually press the Next button to see it.

[2018-05-31 10:53] iamarcel commented on #93
Thanks!

[2018-05-31 15:46] rv2e commented on #93
@iamarcel  I've added to the roadmap 👍
Thanks a lot @UCLATALL for the feedback!

[2018-05-31 15:53] UCLATALL commented on #93
@rv2e @iamarcel I would actually call this a **bug**, as it doesn't perform the way the original DCL does.

[2018-05-31 19:48] iamarcel opened #94 "Add option to show run button along with submit button"
As @jimstigler and @UCLATALL requested, we should add an option so that the Run button can be made available next to the Submit button.

[1] https://github.com/datacamp/datacamp-light/issues/51#issuecomment-393216739
[2] https://github.com/datacamp/datacamp-light/issues/51#issuecomment-340787235

[2018-06-03 15:33] witusj commented on #35
I tried the latest version. Here is my code: https://github.com/hanbedrijfskunde/onderzoek/blob/master/bon/datacamp/test.html

On Chrome it disconnects the session
Safari same
On Firefox it works when run locally / when pointed to Github pages it shows the loader logo indefinitely
It works on Opera

[2018-06-04 11:06] ManishMethani commented on #74
Yes even if I tap the button twice on iPhone, it's not working.
Works perfectly on Desktop website.

[2018-06-06 12:17] iamarcel commented on #32
On the page you linked, it looks like the old DataCamp Light is still loaded. Have you tried with the beta version? I added a pull request to update that ;)

https://github.com/hanbedrijfskunde/onderzoek/pull/1

[2018-06-06 14:22] iamarcel commented on #51
I'll close this issue now, as these suggestions have been merged with #2 and #94.

[2018-06-06 14:22] #51 closed

[2018-06-06 15:04] iamarcel commented on #74
I don't have an iPhone so I can't test this myself (works fine on Chrome on my Android phone). Can you send a screenshot of how the new update is not working?

[2018-06-06 15:06] iamarcel commented on #35
Let's discuss this one further in #32. I'll close this one for now as it looks to be a duplicate of that issue.

[2018-06-06 15:06] #35 closed

[2018-06-06 15:47] iamarcel commented on #79
We're keeping issues in the issue tracker for bugs only, now, so I'll close this and [move it to the roadmap](https://github.com/datacamp/datacamp-light/projects/1#card-10362739).

In any case, the rewrite is in beta right now! You can check it out here: https://github.com/datacamp/datacamp-light/tree/beta

[2018-06-06 15:47] #79 closed

[2018-06-06 15:49] iamarcel commented on #2
We're keeping issues in the issue tracker for bugs only, now, so I'll close this and [move it to the roadmap](https://github.com/datacamp/datacamp-light/projects/1#card-10364266). Looks like a lot of people would like this feature too, so expect it soon :smile:

[2018-06-06 15:49] #2 closed

[2018-06-06 15:50] iamarcel commented on #57
We're keeping issues in the issue tracker for bugs only, now, so I'll close this and [move it to the roadmap](https://github.com/datacamp/datacamp-light/projects/1#card-10364309).

[2018-06-06 15:50] #57 closed

[2018-06-06 15:51] iamarcel commented on #60
We're keeping issues in the issue tracker for bugs only, now, so I'll close this and [move it to the roadmap](https://github.com/datacamp/datacamp-light/projects/1#card-10357762).

[2018-06-06 15:51] #60 closed

[2018-06-06 15:52] iamarcel commented on #64
We're keeping issues in the issue tracker for bugs only, now, so I'll close this and [move it to the roadmap](https://github.com/datacamp/datacamp-light/projects/1#card-10364361).

[2018-06-06 15:52] #64 closed

[2018-06-06 15:54] #75 closed

[2018-06-06 15:54] iamarcel commented on #92
Moved to the roadmap: https://github.com/datacamp/datacamp-light/projects/1#card-10364470

[2018-06-06 15:54] #92 closed

[2018-06-06 16:33] #44 closed

[2018-06-06 16:33] #93 closed

[2018-06-06 16:33] #94 closed

[2018-06-09 16:26] AIITech opened #95 "Can not import xgboost"
Hello DataCamp-Light team,

I am getting Traceback error when I try to import xgboost in Python.
As you know it is a very important library and I saw you have xgboost course on DataCamp (Extreme Gradient Boosting with XGBoost).
I hope you to add this package to DataCamp-Light.

Thank you in advance.

[2018-06-20 12:14] #91 closed

[2018-06-20 12:14] #32 closed

[2018-06-20 12:17] #74 closed

[2018-06-21 06:13] iamarcel commented on #2
@kruny1001 @dmunguia

This feature is now available! You can add a callback when a student starts DataCamp Light, when they submit a solution and when feedback for the exercise is returned (which includes whether the solution was correct).

[Check out the details on the documentation page.](https://cdn.datacamp.com/dcl-react-prod/index.html#tutorial-customizing-integrating)

[2018-06-21 06:13] iamarcel commented on #31
@iparkdza @ozonesk

This feature is now available (on the all-new DCL v2)! You can add a callback when a student starts DataCamp Light, when they submit a solution and when feedback for the exercise is returned (which includes whether the solution was correct).

[Check out the details on the documentation page.](https://cdn.datacamp.com/dcl-react-prod/index.html#tutorial-customizing-integrating)

[2018-06-21 06:16] iamarcel commented on #51
@UCLATALL @jimstigler

These features are now available! You can add a callback when a student starts DataCamp Light, when they submit a solution and when feedback for the exercise is returned (which includes whether the solution was correct). You can also add an option to always show the Run button.

- [Read the details on adding your callbacks.](https://cdn.datacamp.com/dcl-react-prod/index.html

[2018-06-30 01:35] midraed opened #96 "install packages raster, aqp"
Hello!

I'm trying datacamp light with the goal to develop a digital soil mapping course based on our [DSM cookbook](https://fao-gsp.github.io/SOC-Mapping-Cookbook) edited by [FAO of the UN](http://www.fao.org/documents/card/en/c/I8895EN).

For doing the test I need packages `raster` and `aqp`. Can you install them please?

o/

GF

[2018-07-12 13:48] sashoeb opened #97 "Install Boltiot library"
Hi,

I work for an Internet of Things company (BoltIoT) which recently got 484% funded on [Kickstarter](https://www.kickstarter.com/projects/boltiot/bolt). You can visit us at [boltiot.com](boltiot.com) to know more about our product and what we do.
We are planning to use the plugin inside one of our tutorial websites where we teach students about python.
It would be great if you could install our

[2018-07-12 13:52] filipsch commented on #97
@sashoeb sure; what are the install commands? Is the package on pypi?

[2018-07-12 17:41] sashoeb commented on #97
@filipsch yes, the library is hosted on pypi. https://pypi.org/project/boltiot/#description

pip install boltiot works fine

[2018-07-18 13:35] sashoeb commented on #97
@filipsch Any update on this? Thanks in advance!

[2018-07-18 13:56] rv2e commented on #97
Good news, the package has been installed successfully! 👍
Here is a screenshot of a Datacamp light instance that imports the required package:
<img width="486" alt="screenshot 2018-07-18 15 53 48" src="https://user-images.githubusercontent.com/19872276/42886116-115720f0-8aa3-11e8-9e51-de1e686fa276.png">

[2018-07-18 13:56] #97 closed

[2018-07-18 13:56] rv2e commented on #95
@AllTech Good news, the package has been installed successfully! 👍
Here is a screenshot of a Datacamp light instance that imports the required package:
<img width="486" alt="screenshot 2018-07-18 15 53 48" src="https://user-images.githubusercontent.com/19872276/42886116-115720f0-8aa3-11e8-9e51-de1e686fa276.png">

[2018-07-18 13:57] #95 closed

[2018-07-18 14:39] rv2e opened #99 "Bug in R Console"
## Problem
When a user writes directly a command in the R console, the same command is dumped automatically a second time.

Screenshot:

![screenshot 2018-07-18 16 34 11](https://user-images.githubusercontent.com/19872276/42888391-7878ead4-8aa8-11e8-8cf5-b189f419cf3e.png)

[2018-07-18 14:42] rv2e commented on #96
@midraed Good news, the package has been installed successfully! 👍
Here is a screenshot of a Datacamp light instance that imports the required package:
![screenshot 2018-07-18 16 41 22](https://user-images.githubusercontent.com/19872276/42888861-6a36325a-8aa9-11e8-8522-c4488bb5fc0c.png)

[2018-07-18 14:42] #96 closed

[2018-07-18 14:43] filipsch commented on #99
@rv2e Could be because `DC_ECHO` is not specified to be `FALSE`. By default, it might be set to TRUE, in which case the code that is being executed is also included in the output payload sent back by RBackend.

[2018-07-18 14:58] rv2e commented on #99
After checking the root cause is indeed the `DC_ECHO` flag that is set to `true` instead of `false`. Thanks for the input @filipsch.

[2018-07-18 14:59] rv2e commented on #99
@iamarcel Would you like to create a small PR to solve the problem?

[2018-08-10 16:39] ismayc commented on #82
`infer` is now stable at version 0.3.1. No rush on installing but it would be helpful.

[2018-08-13 08:49] filipsch commented on #82
cc @rv2e

[2018-08-16 19:46] maryctucker opened #100 "Need option to hide solution"
We would like to hide the solution button from students so that they do not see the correct answer. Is there an option to do this?

Thank you!

[2018-08-18 01:44] svgsstats opened #101 "Install Request: janitor"
Could the janitor package be installed?

https://cran.r-project.org/web/packages/janitor/index.html

#

[2018-08-20 21:07] westonstearns opened #102 "Sessions disconnection on Android"
A user has reported the following errors have occurred on this page https://www.learnpython.org/en/Hello%2C_World%21:

multiplexer-prod.datacamp.com/input?sid=c49abd07cd5e187493bb6f2421623883&newCount=0:1 Failed to load resource: the server responded with a status of 403 ()
multiplexer-prod.datacamp.com/input?sid=6ddd8c5472b85e57d5d9a9b96a0b6fd0&newCount=0:1 Failed to load resource: the server res

[2018-08-22 23:10] ledezman opened #103 "Event payload only contains string with the name of the event, not an object"
I need to integrate datacamp-light results with my application. I followed the guide here https://cdn.datacamp.com/dcl-react-prod/index.html#tutorial-customizing-integrating

I am able to register the events, and they are indeed triggered by the start/submit actions. However the payload only contains a string, not the payload object specified in the guide.

Here is the sample HTML:

[code]

Alerts

[2018-08-23 08:02] iamarcel commented on #103
Good catch! I'd implemented the listeners with two arguments `(type: string, payload: any)` instead of what's described. I've changed the code to reflect the documentation on the development branch, which will soon make it to the stable version.

If you want to use this immediately, you can change your function signatures and use the payload in the second argument (but note that that'll change as

[2018-08-23 08:03] iamarcel commented on #100
I'm curious about your use case---I'd think you could just not add the solution in order to "hide" it. Or do you need it to appear at some other point in time?

[2018-08-23 13:44] ledezman commented on #103
Great, thank you.  I'll test changing the method signature for now. My code is not in production yet, but by the time it does datacamp-light stable will probably have the update.

[2018-08-23 14:30] iamarcel commented on #103
It seems like the build isn't triggering as it should, so the developer version script is not up to date right now. @rv2e do you know why that could be?

[2018-08-23 18:47] maryctucker commented on #100
We would like students to submit their responses, but not have access to the correct answer. An issue we are having is that students are looking at the solution, then copying and pasting that answer or just submitting the solution without really understanding the code. We would still like like to check whether students' answers are correct and give them feedback, but not have a solution readily av

[2018-08-24 07:32] rv2e commented on #103
@iamarcel I'll try to fix the deployment workflow today. In the meantime, could you create PRs for the fixes you've done please so it's easier to follow 😄

[2018-08-24 07:54] filipsch commented on #100
@maryctucker @iamarcel Stepping in as the main developer on the SCT packages, yes you need the solution to write the SCTs, so there is definitely a use-case for "having a solution in a DCL chunk for the backend to use, but not showing it to the student".

[2018-08-24 11:17] iamarcel commented on #103
Okay, sorry for the confusion!

On Fri, Aug 24, 2018, at 09:32, rv2e wrote:

Links:

  1. https://github.com/iamarcel
  2. https://github.com/datacamp/datacamp-light/issues/103#issuecomment-415677273
  3. https://github.com/notifications/unsubscribe-auth/ABJ_SgpkL8GtGJjbLaX4FsdeG3tgQ3gGks5uT6wGgaJpZM4WIkD7

[2018-08-27 16:27] kmader opened #105 "HTML-views of Pandas DataFrames?"
The current output for a pandas dataframe is the IPython rendering which is not particularly aesthetically pleasing and making some of the more interesting visualizations (color, size, bar, ...) hard to show. Is there any way of having the HTML versions show up (like in Jupyter notebooks)
[code]

![image](https://user-images.githubusercontent.com/116120/44671834-df803280-aa26-11e8-955a-852dde90ee8

[2018-08-27 16:51] maryctucker commented on #100
Thanks for clarifying, Filip.  That's exactly what we would like, if possible.

[2018-08-28 13:25] martinschmelzer opened #106 "RStudio and Bookdown: LazyLoading of exercises not working"
When creating a bookdown document using your example exercises, the first exercise loads normally.
The others do not load when scrolling them into the viewport. It is like the "inViewport" event is not triggered.
When generating basic RMarkdown document with several exercises it works as expected.

[2018-08-28 14:08] rv2e commented on #105
Currently, Datacamp can display special outputs such as plots, HTML widgets and so on. Unfortunately, it's not the case yet for Pandas data frames in Datacamp-light. We will consider this feature in the roadmap. Thanks for the issue.

[2018-08-28 14:17] rv2e commented on #103
@iamarcel I've fixed the CircleCI deployment, you can test it now easily. Feel free to create a PR ;)

[2018-08-28 19:04] jimstigler opened #107 "No license on version 2.0"
I notice there is no license file for the new version of DataCamp Light. Is this an accidental omission, or has the license changed? Thanks for clarifying.

[2018-08-29 15:00] jimstigler opened #108 "Possible to get rid of text configuration flashing before DCL window loads?"
When loading a page with DataCamp Light, the text configuration flashes on the screen before the window loads (see screen grab). Is it possible to get rid of this?
![image](https://user-images.githubusercontent.com/1493486/44796295-8832ad00-ab61-11e8-8779-c79fc2a220d5.png)

[2018-09-04 23:18] Schantanu commented on #64
Thank you for working on this. I have already found Datacamp light as a great solution for quick interactive learning without much of backend setup compared to others. My users are eagerly awaiting this so will be great to know any updates.

[2018-09-05 08:03] rv2e commented on #107
It's an accidental omission, you' will put it back soon.

[2018-09-05 08:04] rv2e commented on #106
We could add an option to disable the lazy loading functionality. This should solve your problem.

[2018-09-05 08:13] rv2e commented on #64
Hi, thanks for using DatacampLight. We are halfway of supporting SQL (related [commit](https://github.com/datacamp/datacamp-light/commit/041cc7425fefee5cb4adf09069997de50f8d5169)). Unfortunately, we don't have that much time currently so we have to postpone the release to a bit later.

[2018-09-05 16:16] YuandongQi commented on #60
Hi,
I try to add comments in Chinese (for example: 测试) within the r code chunk as I normally do in the static R markdown, but it doesn't work at all in the interactive setting (nothing displayed properly), any ideas?

[2018-09-06 16:36] jimstigler opened #109 "Placement of Run and Submit buttons"
It would be a better UI to have the Submit button to the *right* of the Run button. The expected workflow for students would be for them to try some things using the Run button, then when they are ready, push Submit. People tend to think left to right, and would be more likely to remember they need to Submit if the button is to the far right. also: I would suggest that the Submit button be a diffe

[2018-09-08 03:26] IndrajeetPatil opened #110 "install request for R package: ggstatsplot"
Could the `ggstatsplot` package be installed?

https://cran.r-project.org/web/packages/ggstatsplot/index.html

[2018-09-11 12:24] aiitfuture1 opened #111 "Wordpress plugin"
Could you please update the DataCamp-light plugin for Wordpress because the new version better than the old version.

Also, I have a question:
Is there any problem if I use the DataCamp-light plugin on my online courses?

Thank you in advance.

[2018-09-21 05:37] cstigler opened #112 "babel-polyfill breaks if it's already used on the page"
Hi all! I noticed that DataCamp Light was breaking when installed on one particular page. After some investigation, it looks like the reason is that my page is already using `babel-polyfill`, and when DataCamp Light attempts to load `babel-polyfill` again, it throws the error `only one instance of babel-polyfill is allowed`.

I looked at the [babel-polyfill docs](https://babeljs.io/docs/en/babel-p

[2018-09-25 19:03] jimstigler opened #113 "Annoying behavior when working with DCL in an iFrame"
In the new DCL, there is an annoying behavior that I wish could be fixed. I embed DCL in an iFrame, using code like this:
[code]
The problem is, if I put this code on a page and then try to add other text to the page, my cursor keeps losing focus: I can only type one letter on the page before the cursor goes away. The problem seems to be that the DCL script keeps hitting the server, or something.

[2018-09-27 09:15] mca91 opened #114 "Install request for R package: arm"
Hi,
could you please add the `arm` package?
https://cran.r-project.org/web/packages/arm/index.html

Thanks in advance!

[2018-09-30 19:38] YsoSirius opened #115 "Include datacamp into Shiny"
Based on this [question ](https://stackoverflow.com/q/52573071/3682794) I see that it is possible to include datacamp widgets into shiny. At least the widgets show up, but there seems to be an issue with the session or the connection between shiny and datacamp as the Run/Submit buttons wont activate.  I tried to include those versions without success:
- https://cdn.datacamp.com/dcl-react.js.gz
- h

[2018-10-02 19:05] RyanSDC opened #116 "html syntax is showing up in datacamp lite on the community"
cc @dwaynemartin
The datacamp lite exercises have '`<strong><strong>'` in them.

https://www.datacamp.com/community/tutorials/regular-expressions-clean-strings

![image](https://user-images.githubusercontent.com/39916176/46370743-7490cf80-c654-11e8-96c4-5855711fb062.png)

[2018-10-07 18:35] TechDevCode opened #117 "Increase font size & Merge Python Script and iPython Shell Side by Side"
Hi.

I am trying to use datacamp-light widget for my blog, but the font size is too small to read as shown below.

![image](https://user-images.githubusercontent.com/10497450/46585333-38fb6880-ca8d-11e8-8749-31a9490ae7d4.png)

How can I increase font size to make it more readable? Also is there any chance I can merge python script and iPython shell side by side , so that less space is consumed.

[2018-10-08 14:50] jimstigler opened #118 "packages not updated"
Hi, I would appreciate it if you could update the following packages from CRAN:

- mosaic
- mosaicData
- mosaicCore
- Matrix
- ggformula
- ggplot2
- lattice
- dplyr

Thanks,
Jim

[2018-10-23 00:47] jcamacho14 opened #120 "Right console width issue on resize"
Hi, I'm having an issue with the app, while embedding it on a div, and having another collapsible panel that makes the DataCamp container width dynamic, depending on the state (shown/hidden) of the collapsible div

The problem is when I show the div and then hide it again, the right console input doesn't adjust automatically (see attached picture). Is there a way to force the resize and fix this b

[2018-10-30 15:39] englianhu opened #121 "pandoc.exe: Codec.Compression.Zlib: compressed data stream format error (incorrect header check) Error: pandoc document conversion failed with error 1 Execution halted"
I would like to embed the R-Console and Python-Console in a markdown file but there has error prompt me.
[code]
http://disq.us/p/1wystkt

![capture](https://user-images.githubusercontent.com/7227582/47730274-2c8db880-dca5-11e8-855b-0eb28752740a.JPG)

[2018-11-02 18:01] ewfreesRes opened #122 "Request to Install Packages"
Hello.

We are enjoying using the Datacamp Lite tool and have it working at one site: https://ewfreesres.github.io/RegressModel/.

We would like to get this going for another two courses but, to make this happen, need the following packages installed:

- actuar
- alabama
- epitools
- GB2
- pander
- VGAM
- copula
- psych
- car

Questions, of course, most welcome to Jed Frees, jfrees@bus.wisc.edu, o

[2018-11-04 17:09] aiitfuture1 opened #123 "Request to Install OpenCV package"
Hello,

I am using DataCamp-Light on my website and I need to use the OpenCV package in my course
Could you please install OpenCV package.

Thanks in advance.

[2018-11-06 16:39] ncarchedi commented on #109
Thanks for the suggestion @jimstigler. This is how we do it in the traditional datacamp interface, so I'm not sure why we couldn't have it the same here.

Example:

<img width="1440" alt="screenshot 2018-11-06 11 39 15" src="https://user-images.githubusercontent.com/4229089/48079082-9da70180-e1b8-11e8-9b50-9c423d075844.png">

[2018-11-06 16:41] ncarchedi commented on #112
@cstigler thanks for the suggestion - we can definitely have a look at this.

[2018-11-06 16:41] ncarchedi commented on #113
Thanks @jimstigler - we'll have a look at this.

[2018-11-06 17:09] nunorafaelrocha commented on #82
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-39

[2018-11-06 17:09] #82 closed

[2018-11-06 17:10] nunorafaelrocha commented on #99
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-40

[2018-11-06 17:10] #99 closed

[2018-11-06 17:11] nunorafaelrocha commented on #123
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-41

[2018-11-06 17:11] #123 closed

[2018-11-06 17:12] nunorafaelrocha commented on #116
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-42

[2018-11-06 17:12] #116 closed

[2018-11-07 09:14] nunorafaelrocha commented on #101
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-43

[2018-11-07 09:14] #101 closed

[2018-11-07 09:15] nunorafaelrocha commented on #114
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-44

[2018-11-07 09:15] #114 closed

[2018-11-07 09:16] nunorafaelrocha commented on #107
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-45

[2018-11-07 09:16] #107 closed

[2018-11-07 09:16] nunorafaelrocha commented on #110
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-46

[2018-11-07 09:16] #110 closed

[2018-11-07 09:19] nunorafaelrocha commented on #122
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-47

[2018-11-07 09:19] #122 closed

[2018-11-07 09:28] nunorafaelrocha commented on #111
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-58

[2018-11-07 09:28] #111 closed

[2018-11-07 09:31] nunorafaelrocha commented on #118
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-59

[2018-11-07 09:31] #118 closed

[2018-11-07 09:32] nunorafaelrocha commented on #109
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-68

[2018-11-07 09:32] #109 closed

[2018-11-07 09:34] nunorafaelrocha commented on #113
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-69

[2018-11-07 09:34] #113 closed

[2018-11-07 09:36] nunorafaelrocha commented on #112
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-69

[2018-11-07 09:40] nunorafaelrocha commented on #103
We'll work on this over the next Sprint.

The issue was moved to JIRA https://datacamp.atlassian.net/browse/LE-71

[2018-11-07 09:40] #103 closed

[2018-11-08 16:53] aiitfuture1 commented on #111
Thank you so much but you didn't answer my question
Is there any problem if I use the DataCamp-light plugin on my online courses?

[2018-11-10 01:28] linted opened #124 "Unable to start local test server"
I am trying to start up a local development server, but I keep getting errors from npm when following the install steps.

[code]

I am running a brand new debian 9.5 fully updated, with node v11.1.0, and npm v6.4.1
After looking at google results, it looks like it might be that I am using a new and unsupported version of node. If that is true, should work be done to update to the latest version?

[2018-11-10 03:42] linted commented on #124
Fixed this by `export NPM_TOKEN=xyz` before running `npm i`. however I am now running into other problems during the install

[2018-11-13 13:58] ncarchedi commented on #111
@aiitfuture1 by "problem", do you mean legal or technical? We just added a [license](https://github.com/datacamp/datacamp-light/blob/master/LICENSE.md) to make the legal side more clear.

[2018-11-13 14:00] ncarchedi commented on #113
@jimstigler for context, we currently use a shared package library for all datacamp light instances, which means adding/updating a package comes at the risk of breaking existing content. This obviously doesn't scale.

Over the next few weeks, we'll move to a system closer to the one we use for standard datacamp courses, which will allow versioning of dependencies.

[2018-11-14 09:14] aiitfuture1 commented on #111
Thank you ncarchedi
I mean legal
To be honest I do not quite understand the difference between GNU and MIT license so that I'm asking you:
I sell online courses, is there any legal problem if I use the DataCamp-light on my courses?

[2018-11-20 16:41] ewwink commented on #57
Done? how to add?

[2018-11-25 05:33] ilanhdev opened #127 "Basic Operators Interactive Tutorial - Assertion Bug"
During the basic operators tutorial (https://www.learnpython.org/en/Basic_Operators), I get the following message from running both my answer and from the solution provided: "Did you correctly define the variable x? Expected <object object at 0x7f574be6d310>, but got <object object at 0x7f574be6d300>."

Since the exercises are not titled, I have provided the description of the specific exercise be

[2018-11-25 23:43] #127 closed

[2018-11-25 23:45] ilanhdev commented on #127
Closing because issue likely stems from a different repo (https://github.com/ronreiter/interactive-tutorials)

[2018-11-27 03:03] svarlamov opened #129 "CORS Error in Production"
IDE not loading and receiving CORS errors when used from a non-DC website. Failing example [here](https://exlskills.com/learn-en/courses/learn-python-essentials-for-data-science-intro_to_python/basic-python-BXEmgvphLBAW/variables-iOwUkcmfgmpU/floats-qgKSzvLBdyTH)

[2018-11-27 03:13] svarlamov commented on #129
Also happens on DC sites now too: https://cdn.datacamp.com/dcl-react/standalone-example.html

[2018-11-27 09:37] rv2e commented on #129
Thanks for reporting the issue, an update of the app has been deployed which fixes your problem automatically. I've just tested the update on your website and it works now ([screenshot](https://www.dropbox.com/s/jow20dfe3ehkcdf/Screenshot%202018-11-27%2010.35.56.png?dl=0)).

[2018-11-27 09:37] #129 closed

[2018-12-14 23:29] naveen1973 opened #131 "only show IPython Shell"
Hi all.

I think product is great. I just had one question. I only want to display the IPython Shell. Is that possible or will both windows show by default?

thanks,
Naveen

[2018-12-18 19:46] mcroyle opened #132 "Request to install Spatstat and RNOAA packages"
Could you please install the following R packages:
spatstat
rnoaa

Thank you for the help and great product.

[2019-01-01 18:06] kgdunn opened #133 "Request for 2 libraries please"
I've integrated DataCamp-Light in several places in my online textbook, https://learnche.org/pid and highly recommend DataCamp in general where ever I can, and also in my MOOC on Experimentation for Improvement.

However, 2 libraries are missing, which makes the embedding lacking. The '**robust**' library, and the '**pid**' library. The latter is small, and would be really helpful to include pleas

[2019-01-03 18:46] markusloecher commented on #77
It seems that the package _gamair_ is missing ?I It would be great if the package or at least the dataset "mpg" could be added to the docker.
Thanks!
Markus

[2019-01-12 20:22] maryctucker opened #134 "solution environment generating runtime error"
Hi,  I wrote an exercise with the code below that is generating an error. The error goes away when I remove supernova(zHeight.model) from the solution environment. Do you know why this is happening? Any help would be much appreciated!

            <code data-type="pre-exercise-code">
                require(mosaic)
                require(supernova)
                Fingers <- supernova::Fingers

[2019-01-13 23:56] adamblake commented on #134
Here is a minimal reproducible example of the error:

**Code:**
[code]

**Error message:**

**Notes:**
* The error will only occur when the `lm()` call is embedded within `supernova()` [e.g. `supernova(lm(new_col ~ hp, data = mtcars))`], but not when embedded in others [e.g. `summary(lm(new_col ~ hp, data = mtcars))`]
* The error does not occur when the new variable is referenced explicitly like `

[2019-01-15 14:24] jimstigler commented on #112
Hi, is there any update on this issue? It is causing us some problems with our application... Thanks.

[2019-01-18 07:47] cstigler commented on #106
We're also having this issue, loading DCL exercises inside of Learnosity questions. My guess is that the iFrame that Learnosity puts the exercise in is some/all of the issue.

The lazy load also appears not to work if re-rendering into an area that is already visible on the page: it stays stuck on the placeholder until I scroll again. Ideally DCL would detect that it's already rendered in a visibl

[2019-01-22 02:43] cstigler commented on #106
Submitted a PR to add an option to disable lazy-loading, which should fix these issues: https://github.com/datacamp/datacamp-light/pull/136

[2019-01-24 08:02] nunorafaelrocha commented on #112
Reopening for visibility. We're working on this issue at the moment - this means that it should be done until next Friday, Feb 1.

[2019-01-26 03:03] jimstigler opened #140 "Plots are fuzzy"
Plots in DataCamp Light are fuzzy... not crisp like in the old DataCamp LIght. Note the font on the x axis, compared with the 1/1 indicator of which plot this is.
![image](https://user-images.githubusercontent.com/1493486/51781227-b4c80200-20ca-11e9-89a2-85a99a951bde.png)

[2019-01-28 15:25] #106 closed

[2019-01-28 15:44] jordanwade commented on #112
Fixed in v2.1.0

[2019-01-28 15:44] #112 closed

[2019-03-01 23:44] patidarparas13 opened #142 "Things overlapping in the UI"
![screenshot 92](https://user-images.githubusercontent.com/26501395/53672749-e758b200-3ca9-11e9-9766-c45c90052175.png)
How to resolve this ??
I am using this in Blogger. What's the issue I am not getting ??

[2019-03-05 21:35] davkapl opened #143 "R package requests: wooldridge forecast dynlm"
I'm hoping to use this for teaching econometrics online, but would need a few more R packages to do so.
wooldridge  has all the example datasets from the popular Introductory Econometrics textbook by Wooldridge
forecast  has useful forecasting functions developed by Rob Hyndman
dynlm  has other useful function for dynamic linear models
Thanks for your consideration!

[2019-03-05 22:48] davkapl commented on #102
This sounds like #32 and (I think) is the same problem I'm having.  I'm just trying to run a simple example locally, in Chrome on a Chromebook, but I get those 403s, too.  When I hit Run, the dot turns red and says "Broken Session", and hitting Restart only briefly turns the dot orange before it goes back red.  The attached screenshot is after I hit Run once and Restart three times, so four 403s.

[2019-03-11 18:08] Pyper92 opened #145 "Datacamp Light compatibility with Moodle VLE"
I'm trying to incorporate datacamp light into a course that I run within the moodle VLE. I've used the example code within the readme section and it seems to stick on the loading screen. I've had a look in the developer pane and there don't seem to be any errors or wanring. I'm just wondering if there is a known issue with integrating datacamp into Moodle?

[2019-03-13 17:03] KevinVanthuyne commented on #116
This issue seems to have been fixed. Can this be verified and closed?

[2019-03-20 08:58] #145 closed

[2019-03-25 03:58] kaseyhackspace opened #148 "Can I use a private server instead of Datacamp servers in the backend?"
It says in the documentation that datacamp-light does all the heavy lifting by offloading the processing and environments for Python and R in Datacamp's servers. Is it possible to set up a private server instead and have datacamp-light use that instead? Thanks!

[2019-03-27 00:23] squarepluto opened #149 "Mistake in last excercise of python loops"
In the excercise it says "Don't print any numbers that come after 237 in the sequence."
but the code is
`if number == 237:
        break`
The acctual code should be
`if number > 237:
        break`

[2019-03-27 00:27] squarepluto commented on #149
I am extremly sorry
This issue doesn't belong here.
Please delete it if possible

[2019-03-27 00:27] #149 closed

[2019-03-27 12:42] Nicky56 commented on #78
Hmm, tried it today still not working ...

[2019-04-18 07:37] reisman234 opened #150 "plotting decision tree"
Hello,
I use DataCamp-Light to create some small exercises in python. Currently I work on a decision tree example and i want to plot that small tree. In scikit-learn this done by using graphviz which is not available on the DataCamp Server.

Is there another way to do this ?

best regards
reisman

[2019-05-06 15:45] AverageComet250 opened #151 "Shell not working"
IPython Shell did not show anything when print command used in script.py on https://www.learnpython.org/en/Hello,_World!

[2019-05-28 14:36] rahilwazir commented on #148
Yes, need to know if its possible. @ddmkr

[2019-07-09 03:44] ktracer-isp commented on #102
Seeing the same problem here. Inspecting the network traffic when clicking RUN on any example bloc yields a 403, followed by a fade-in message saying "your session has been disconnected."

[2019-07-22 12:58] HiraMariam opened #154 "input() function is not working"
I have added the input() function but it shows error in the shell
![Capture](https://user-images.githubusercontent.com/14366432/61634205-4abf9c80-acaa-11e9-9ee5-db918050d11c.JPG)

[2019-08-29 07:34] kaseyhackspace commented on #148
Hi @rahilwazir and @almeidaxan , you can check out https://github.com/ines/juniper you can set private binderhub servers via its server settings.

[2019-10-27 19:35] thaleslim commented on #154
I encountered the same issue and made a workaround:
[code]
Now the standart input has the string "input" hardcoded inside; it's not great, but it works.
You can write it in the pre-exercise-code section, if you are configuratin' the exercise; or at the beginning of your python code, if you don't have the acess to the file itself.

[2019-11-01 15:54] mhughes2k opened #164 "If DCL is contained within a form the hint, submit and run buttons function as submit buttons."
As per W3 specifications buttons default behaviour is to function as a "submit" button.

The buttons outputted have the following html:
[code]
When clicking on the hint button within a form this causes the form to submit.

Adding the type="button" attribute to the button (via HTML inspector) causes the form to *not* be submitted.

This is an issue as we are wishing to embed DCL into a Moodle lesso

[2019-11-01 15:55] mhughes2k commented on #164
This gist should demonstrate the issue: https://gist.github.com/mhughes2k/065f7e02c5b29fde475e85f8f264c1fc

[2019-11-04 17:45] OnurS23 opened #165 "Changing the error messages"
Hello,
For a while, I am looking for the file where the error messages are defined. I want to change the language of them but I can't seem to find them. Can you help me?

[2019-11-05 11:42] hermansje commented on #165
Is it the [submission correctness test](https://github.com/datacamp/datacamp-light#submission-correctness-test-sct) messages you want to translate?
That feedback system is [testwhat](https://github.com/datacamp/testwhat). Many testwhat functions have arguments where you can provide custom feedback (which can be in the language of your choice), but the default messages are in English (for now witho

[2019-11-22 15:23] Pyper92 opened #166 "Request for R packages to be added"
I would appreciate it if the leaps and gstat packages could be installed

[2019-12-22 13:53] sidoruvigo commented on #102
I'm having the same issue with a Flutter WebView. See: [this question in stackoverflow](https://stackoverflow.com/questions/59425139/datacamp-light-not-working-in-flutter-webview) Any advances in this topic?

[2019-12-30 18:12] 2gauravc commented on #166
please add the RPostgreSQL package

[2020-03-13 11:02] mokdur opened #168 "Integration in Reveal.js presentations is not working"
I have tried to add datacamp-light to a Reveal.js presentation but, it is not working.

[2020-04-01 05:15] Aho-Senpai opened #169 "Missing a print in an example"
Hello, i noticed that the last example from this https://www.learnpython.org/en/Basic_String_Operations doesn't have a print, and so hitting "run" doesn't display an output

[2020-04-18 05:50] Eljefemasao opened #170 "Can monetized blog includes this software?"

[2020-04-24 07:24] MaxGaukler commented on #102
Same problem here in Firefox and Chromium on Linux, sometimes intermittently. It does not work at all on Firefox Mobile on Android. I get lots of third-party cookie warnings on the console. Works correctly on MS Edge and Firefox on another Windows machine, but that might just be luck.

[2020-06-10 10:40] uqvirg opened #172 "Pbs with Normalisation / Error in abs(data[data != 0]) non-numeric argument to mathematical function"
Hi,
I tried to run the code of the data camp, the first step worked well but for the normalisation I had the error:
Error in abs(data[data != 0]) :
  non-numeric argument to mathematical function

library("MetaboAnalystR")
mSet<-InitDataObjects("conc", "stat", FALSE)
mSet<-Read.TextData(mSet, "http://www.metaboanalyst.ca/MetaboAnalyst/resources/data/human_cachexia.csv", "rowu", "disc");
mSet<-Sani

[2020-08-14 03:43] badgettrg opened #175 "Please install R packages"
Could you please install the packages for meta-analyses:

meta, rmeta, metafor, gemtc

thanks

bob

[2020-09-16 08:58] WeatherAnchor commented on #103
Hey, did anyone actually fix this issue?

[2020-09-16 09:21] AJ13H opened #177 "Please add Plotly for Python"
Thanks for the compiler, which is very useful for my teaching.

Could you please add packages plotly and plotly.express for Python?

[2020-09-16 09:43] nunorafaelrocha commented on #103
Hi @WeatherAnchor

Yes, this was fixed, but it's only available on v3, which is currently under the beta tag

Link here: https://github.com/datacamp/datacamp-light/tree/v3.0.0-beta.1

[2020-09-24 09:44] WeatherAnchor opened #178 "DCL.instance initiliaze? Other than window.load"
Is there any other way to initialize the dcl.instances? I always have to write my functions on window.load methods. I wanna initialize by calling my custom functions.
`
    window.onload = function () {
        DCL.instances["my_dc_id"].on("feedback", function(payload) {
            //does something here
     }); }
`

[2020-09-24 09:46] WeatherAnchor opened #179 "DCL.instances only takes html "id" attribute."
Is there any way to get it working by taking the html by class?
`DCL.instances["html_id"].on("feedback", function(payload)`
I want to do something like this:
`DCL.instances["html_class"].on("feedback", function(payload)`

[2020-10-06 20:10] Prateek964 opened #181 "Support for Markdown files"
I'm trying to include the code snippet for adding sample-code in my markdown file but it does not render properly. (https://frmi.netlify.app/docs/primers/code#section-with-python-code)

I'm using a Jekyll based platform.

[2020-10-19 08:11] WeatherAnchor commented on #154
anyone got it working?

[2020-10-22 11:35] p-ang opened #182 "Please add PuLP for Python"
Thank you for this very useful package, which I plan to integrate with my teaching.

Would it be possible to also add the PuLP package, to support optimisation?

[2020-12-08 19:36] maxreeb opened #183 "Hello World example don't working"
Hello,

I have discovered recently datacamp light and trying to get a first example to run.
But unfortunatelly I wasn't successful.

Please, can you tell me what is wrong with this example or missing?
My browser loads only the comment line. There is nothing else.

Thanks in advance!

Kind regards,
Max

**Code**
![hello_world_code](https://user-images.githubusercontent.com/75696376/101533005-9c4af3

[2020-12-08 20:56] flavves commented on #183
ı cant open your link please sen again
*Batuhan ÖKMEN*

*IEE ISUBÜ Öğrenci Kolu | Sponsorluk Ve Kurumsal İlişkiler Komitesi Başkan
yard.*
*Mekatronik Mühendisliği*
*Isparta/TÜRKİYE*
*GSM*: +90 534 021 11 89
*WEB batuhanokmen.com <https://batuhanokmen.com/>*

maxreeb <notifications@github.com>, 8 Ara 2020 Sal, 22:36 tarihinde şunu
yazdı:

[2020-12-09 05:03] maxreeb commented on #183
Hi flavves,

I have uploaded the example on a test server.
http://www.web177.s138.goserver.host/datacamp_light_hello_world.html

I got the error message: Session broken

[2020-12-09 05:43] maxreeb commented on #183
I just found out that the issue was related to google chome or my chrome installation. It works with firefox and edge for me. thanks again!

[2020-12-09 05:43] #183 closed

[2020-12-09 22:00] maryctucker opened #184 "Please update to most recent version of mosaic and tidyverse packages"
Hi, we would love to use the most up to date versions of the mosaic and tidyverse packages with our students. Could you please update those packages?

[2020-12-10 18:07] FranciscoImanolSuarez opened #185 "Support for JavaScript HTML and CSS"
Hello, I wanted to make a query, how can I add support for Javascript, HTML or CSS?

[2020-12-22 13:43] dsvancer opened #186 "R package request - tidymodels, discrim, rpart, and klaR"
Could you please add the following R packages:

- tidymodels
- discrim
- rpart
- klaR

These would make it possible to build interactive tutorials on machine learning in R.

Thank you!

[2021-03-09 18:31] adamblake opened #187 "Urgent: All DataCamp sessions broken"
All DataCamp sessions are broken using setups that worked as of yesterday. Here are the errors, some screenshots from Chrome and Firefox, and the source code of the example:

### Error in Chrome Dev Console:

![image](https://user-images.githubusercontent.com/6201730/110519363-13da0c80-80c2-11eb-820b-d65e4c9ee4b1.png)

### Error in Firefox Dev Console:

![image](https://user-images.githubuserconte

[2021-03-09 21:27] LovisaFJSundin commented on #187
Same for me. Have they shut down their servers?

[2021-03-09 21:46] jimstigler commented on #187
Anyone over at DataCamp listening? All my students are down, can't do their homework!

[2021-03-10 00:14] KarenGivvin commented on #187
Please help!

[2021-03-10 09:46] jdmunro commented on #187
Hey, thank you for the detailed issue report. Apologies for the inconvenience to you/interruption to your students. We had an SSL configuration issue which has now been resolved: you should find the service is functioning normally now. Thanks for your patience while we resolved the issue!

[2021-03-10 10:24] adamblake commented on #187
Thank you for the response, but the issue does not appear to be fully resolved. All of our sessions are still broken, but the error has changed to

I hope this helps

[2021-03-10 10:45] adamblake commented on #187
I don't know if you get notifications on closed issues, so I'm tagging you just in case @jdmunro

[2021-03-10 13:18] jdmunro commented on #187
@adamblake Currently looking into this, thanks again. Will report back when we have an update.

[2021-03-10 16:55] jhwang1 commented on #187
Likewise. All day yesterday and all this morning. I am receiving a ton of emails from students!

[2021-03-10 18:19] jdmunro commented on #187
We have experienced some platform instability today which has unfortunately impacted DataCamp Light. Currently, the service is back up and functioning normally and we're continuing to monitor the situation. Apologies again for the interruption to your student's learning experience - please let us know here if you experience a further interruption to the service.

[2021-03-12 01:03] #187 closed

[2021-04-26 18:03] jiyunson opened #188 "Urgent: DataCamp sessions broken"
They are all down in our use cases and I checked DataCamp Light's own demo page and those seem to be down as well: https://cdn.datacamp.com/dcl-react/standalone-example.html

It feels like a deja vu...  https://github.com/datacamp/datacamp-light/issues/187

[2021-04-26 18:49] EH-code commented on #188
Same here. Data Camp has not been working this morning. I keep receiving the "session broken" message.

[2021-04-26 19:18] lvanacken commented on #188
Thanks for reporting this.
We have experienced some platform instability today which has unfortunately impacted DataCamp Light. Currently, the service is back up and functioning normally and we're continuing to monitor the situation. Apologies again for the interruption to your student's learning experience - please let us know here if you experience a further interruption to the service.

If in d

[2021-04-27 09:01] nunorafaelrocha commented on #188
Hello @jiyunson and @EH-code

The services are stable at the moment, so I'll close this ticket for now. Once again, apologies for any inconvenience this may have caused.

In case of session problems, please check https://status.datacamp.com/ to get the latest updates regarding the status of the platform.

[2021-04-27 09:01] #188 closed

[2021-04-27 15:43] jiyunson commented on #188
Thank you! We appreciate the quick response.

[2021-04-27 16:55] EH-code opened #189 "Urgent Data Camp Sessions Broken"
Hi  Thanks for fixing yesterday's issue quickly. Unfortunately it has returned. I'm receiving the 'session broken' message again.

[2021-04-27 18:26] nunorafaelrocha commented on #189
Hi @EH-code

Thanks for reporting this issue.

We suffer some instabilities during the afternoon. At this moment, all systems are operational, but we're still monitoring the situation closely.

Please, follow up updates using our [status page](https://status.datacamp.com/).

Thanks!

[2021-04-28 13:45] #189 closed

[2021-05-04 15:19] adamblake opened #190 "R package request: supernova upgrade to 2.4.0 from 2.0.0"
Hello, we use DataCamp Light to teach statistics and we wrote the `supernova` package to teach ANOVA. Can you please upgrade the package to the current version? The upgrade will only add features and fix bugs, and there are no known reverse dependencies with the package.

Ideally we would like this package updated as often as possible, and the `HEAD` of our repository will always be stable. So you

[2021-05-24 13:12] jdmunro commented on #190
Hey @adamblake - we're currently taking a look into what this would involve.

I notice that the `supernova` package requires an R version of `3.5.0` or greater: https://github.com/UCLATALL/supernova/blob/main/DESCRIPTION#L32

The runtime for DataCamp Light is currently based on an older R version (3.4.0). Whilst we would ultimately like to keep this up-to-date, it could involve a lot of work to br

[2021-05-24 14:42] adamblake commented on #190
I will look into that dependency today and get it compatible with R 3.4

[2021-05-29 20:15] adamblake commented on #190
@jdmunro `supernova` is now updated to 2.4.1 on CRAN to be backwards compatible with R 3.4.0

Thanks for your patience while I worked out the bugs on that!

[2021-06-01 07:47] jdmunro commented on #190
@adamblake Thanks for that! I'll try and get that updated at our end this week - I'll keep you posted.

[2021-06-11 21:33] adamblake commented on #190
Hi @jdmunro --- any update on this? Thanks for your help!

[2021-06-14 07:54] jdmunro commented on #190
Hey @adamblake - apologies for my slow response! We've taken an in-depth look at this and discovered further problems that are going to require additional time and bandwidth for us to resolve. Unfortunately, there are still other issues related to the age of the runtime environment (not directly related to `supernova`) and it's clear an overhaul is required. As a result, we will be postponing the

[2021-08-25 05:54] basteks opened #192 "Accented characters in SCT's incorrect_msg and success_msg"
Hello everyone,
While trying to insert accented characters in the `incorrect_msg` or `success_msg` of the `<code data-type="sct">` tag, they always appear replaced by `[removed]` (either typing them directly or using `encodeURI()` which works well for the `<div data-type="hint">` tag).
I found a workaround by slightly modifying the `StripTagBody` function in dcl-react.js.gz :
I replaced the `retur

[2021-08-30 04:37] rkgitdkt opened #193 "Previous written characters are deleting automatically on mobile browser"
When we clear all the code from input area and try to write something, the previous written characters being delte automatically.

But it happens only on mobile.  See the video for reference.

Uploading Screenrecorder-2021-08-30-07-15-06-156.mp4…

[2021-09-22 06:08] skidipap opened #194 "New Python Version"
datacamp light is awesome, but the Python shell  is Outdated. Can you provide Python 3.7?

[2021-11-19 20:15] paolaPosada opened #195 "You could add the following packages for python:"
Could you please add the following packages:

- Cikit fuzzy
- autoh20
- hdbscan

We are creating a project to teach clustering algorithms and we need them. Thanks

[2021-12-07 01:27] ChanceHarmon opened #196 "SCT Help"
I am sure this a total noob question. I am using React and the boilerplate code for a python example.

<div data-datacamp-exercise data-lang="python">
        <code data-type="pre-exercise-code">
          # no pec
        </code>
        <code data-type="sample-code">
          # Create a variable a, equal to 5

          # Print out a

        </code>
        <code data-type="solution">

[2022-06-13 09:05] shraysalvi opened #198 "Updates for packages, Version 3.6 need to install default packages, Python > 3.8 required"
sklearn.metrics.ConfusionMatrixDisplay is unsupported and other modules are old, they need to update. Also, if I install the new version of modules in version 3.6 it throws an error `ERROR: sklearn is not available`, should I manually install dependencies of sklearn.  Sklearn module new versions also depend on python new version so can you change the python version to 3.8 or newer.

[2022-07-25 18:31] shraysalvi opened #201 "React ace is facing an issue while installing packages.json."
"react-ace": "git+https://github.com/datacamp/react-ace.git#v5.1.1-dc3" in packages.json is no longer support react 16 dependency. The repository shows an message "This repository has been archived by the owner. It is now read-only.". Please check.

[2022-09-01 02:51] badgettrg opened #202 "R package qrcode"
would you please add the package qrcode to be available in datacamp light? It is available at https://cran.r-project.org/web/packages/qrcode/

thanks